﻿@using C2.WebApp.Store
@{
    var pageModel = ViewData.GetPageModel();
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.HtmlTitle</title>
        <meta name="description" content="@ViewBag.Description" />
        <meta name="keywords" content="@ViewBag.Keywords, купить, оптом, интернет-магазин" />
        
        <link href="~/content/images/ico.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta name='yandex-verification' content='678f04ed70eec6a0' />
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @*@Scripts.Render("~/bundles/modernizr")*@
    </head>
    <body>
        <div class="wrapper-h">
            <div class="wrapper">
            <div id="header">
                    <h1 id="site-title"><a href="~/">@Html.Raw(C2.AppController.SupplierModel.Current.Logo)</a></h1>

                        <div id="top-buttons">
                            <ul>
                                <li class="red"><a href="/home/get/business/">Для оптовых клиентов</a></li>
                                <li><a href="/home/get/bonus/">Подарки за покупки</a></li>
                                <li><a href="/home/get/im/">Оплата и доставка</a></li>
                                <li><a href="/home/get/order/">Сделать заказ</a></li>
                                <li><a href="/home/get/company/">Контакты</a></li>
                            </ul>
                        </div>
                        <div class="phone-title">
                            @Html.Raw(C2.AppController.SupplierModel.Current.PhoneBlock)
                        </div>

                        <div id="product-filters" class="search">
                            <b class="l"></b>
                            <b class="r"></b>
                            @using (Ajax.BeginForm("Search", "Product", null, new AjaxOptions { UpdateTargetId = "main", InsertionMode = InsertionMode.Replace, OnBegin = "fadeOutSearch", OnComplete = "fadeInSearch" }, new { id = "product-filter" }))
                            {
                                @*<input type="hidden" name="CategoryNodeId" value="@pageModel.CategoryNodeId" />*@
			                    <p class="input-wrapper">
				                    <span class="input">
				                    <input type="text" name="FreeText" class="textInput-placeholder" value="Поиск товара по названию" id="write" data-placeholder="Поиск товара по названию">
				                    </span>
			                    </p>
			                    <p class="submit"><button type="submit" class="button-search">Найти</button></p>
                            }
                        </div>

                        <div id="login">
                        @Html.Partial("_LoginPartial")
                        @if (Request.IsAuthenticated)
                            {
                                @Html.ActionLink("Информация о заказчике", "Index", "Customer")
                                @Html.ActionLink("Мои заказы", "Index", "Order")
                            }
                        </div>

                        <div id="basket-info">
                            @if (pageModel != null) {
                                @Html.Partial("BasketInfo", pageModel.Basket)
                            }
                        </div>                    

                    @Html.Raw(C2.AppController.SupplierModel.Current.Banner)
            </div>
            <div id="body">
                @RenderSection("featured", required: false)

                    <div id="tools">
                        <div id="catalog">
                            @if (pageModel != null) {
                            @Html.Partial("TreeView", pageModel.Catalog)
                            }
                        </div>
                        @RenderSection("filter", required: false)
                    </div>

                    <div id="main">
                        @RenderBody()
                    </div>

            </div>
            <div class="spacer"></div>
            </div>
            @Html.Partial("_Footer")
        </div>

        @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/store")
        @RenderSection("scripts", required: false)

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter@(C2.AppController.SupplierModel.Current.YaId) = new Ya.Metrika({
                    id: @C2.AppController.SupplierModel.Current.YaId,
                    webvisor: true,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/@C2.AppController.SupplierModel.Current.YaId" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    </body>
</html>
