﻿<table border='0' cellpadding='0' cellspacing='0'>
<tbody>
<tr>
<td style='width: 660px; margin-bottom: 12px'><p><strong>Приветствуем, {{UserName}}!</strong></p></td>
</tr>
<tr>
<td style='width: 660px; margin-bottom: 12px'><p>
Благодарим Вас за регистрацию на сайте bbsw.ru и приглашаем вас за покупка в наш <a href='http://bbsw.ru/'>каталог</a>!
</p></td>
</tr>
<tr><td style='width: 660px;'>{{include Footer}}</td></tr>
</tbody>
</table>