﻿<h2>Упс! Произошла ошибка на сервере!</h2>
<h3>Система автоматически уведомила администратора, и совсем скоро мы решим этот вопрос! </h3>

<p>Попробуйте повторить свои действия с <a href="@Url.Content("~/")">главной страницы</a> немного позже</p>

<p>Если вы не можете ждать, то, пожалуйста, напишите об этом на e-mail: <a href="mailto:manager@optodrom.ru">manager@optodrom.ru</a></p>

<p>Если совсем невтерпеж, звоните: </p>
<ul>
    <li>8 (916) 015-7799 Москва</li>
    <li>8 (916) 015-6161 Москва</li>
</ul>
<p>Большое спасибо!</p>

<div>
    @Html.Raw(ViewBag.Message)
</div>
