﻿@model C2.DataModel.StoreModel.Order

@{
    decimal qty = 0;
    decimal admqty = 0;
    decimal admtotal = 0;
}

<div class="col-title">@Html.LabelFor(m => m.CustomerId)</div>
<div class="col-control">@Model.CustomerId</div>
<div class="clear-fix"></div>

@if (Model.UserProfile != null) {
    <div class="col-title">@Html.LabelFor(m => m.UserProfile)</div>
    <div class="col-control">@Model.UserProfile.FirstName @Model.UserProfile.LastName, @Model.UserProfile.Phone</div>
    <div class="clear-fix"></div>
}

@if(Model.Delivery != null) {
<div class="col-title">@Html.LabelFor(m => m.Delivery)</div>
<div class="col-control">@Html.Raw(Model.Delivery.Replace("\n", "<br/>"))</div>
<div class="clear-fix"></div>
}

<div class="col-title">@Html.LabelFor(m => m.UserComment)</div>
<div class="col-control">@Html.TextAreaFor(m => m.UserComment, new { @readonly=true })</div>
<div class="clear-fix"></div>

<div class="col-title">@Html.LabelFor(m => m.OrderStatus)</div>
<div class="col-control">@Html.Partial("_OrderStatus", @Model.OrderStatus)</div>
<div class="clear-fix"></div>

<div class="col-title">@Html.LabelFor(m => m.Total)</div>
<div class="col-control">@Model.Total.ToString("N2") р.</div>
<div class="clear-fix"></div>

<div class="col-title">@Html.LabelFor(m => m.TotalPayment)</div>
<div class="col-control">@Model.TotalPayment.ToString("N2") р.</div>
<div class="clear-fix"></div>

<div class="col-title">@Html.LabelFor(m => m.IsPreorder)</div>
<div class="col-control">@Model.IsPreorder.ToString(System.Globalization.CultureInfo.CurrentUICulture)</div>
<div class="clear-fix"></div>

<div class="table">
    <div class="table-header">
        <div>
            <div>Продукт</div>
            <div>Цена</div>
            <div>Кол-во</div>
            <div>Сумма</div>
            <div>Характеристики</div>
            @if (User.IsInRole("Admin")) {
                <div>Наличие на складе</div>
                <div>Сумма по наличию</div>
                <div>Комментарий</div>
            }
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="table-body">
        @using (Html.BeginForm("UpdateOrder", "Order")) {
            @Html.HiddenFor(m => m.Id)
            foreach (var item in Model.Items)
            {
                qty += item.Quantity;
                var avail = item.AdminQuantity.HasValue ? item.AdminQuantity.Value :
                       (item.Quantity > item.Offer.AvailQuantity) ? item.Offer.AvailQuantity : item.Quantity;
                admqty += avail;
                admtotal += avail * item.PriceValue;
            }
            
                @Html.EditorFor(m => m.Items)

            if (User.IsInRole("Admin")) {

                <div class="summary">
                    <div></div>
                    <div></div>
                    <div>@qty.ToString("#")</div>
                    <div></div>
                    <div></div>
                    <div>@admqty.ToString("#")</div>
                    <div>@admtotal.ToString("N2")</div>
                </div>
                <div class="clear-fix"></div>
                <div>Комментарий админа для себя</div>
                <div class="col-control">@Html.TextAreaFor(m => m.AdminComment)</div>
                <div class="clear-fix"></div>
                <input type="submit" value="Сохранить заказ" />
            }
        }
    </div>
</div>