﻿@model C2.WebApp.Models.CkEditorModel
@{
    string toolbarset = Model.Toolbarset.ToString();
}
<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script type="text/javascript">
    CKEDITOR.config.jqueryOverrideVal = true;
</script>
<script src="@Url.Content("~/Content/ckeditor/adapters/jquery.js")" type="text/javascript"></script>

<script type="text/javascript">
    window.onload = function () {
        CKEDITOR.basePath = '@Url.Content("~/Content/ckeditor/")';

        CKEDITOR.config.toolbar_Basic =
        [
            ['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink']
        ];

        CKEDITOR.config.toolbar = '@toolbarset';
        CKEDITOR.config.language = 'ru';

        CKEDITOR.config.filebrowserBrowseUrl = '@Url.Content("~/Content/ckfinder/ckfinder.html")';
        CKEDITOR.config.filebrowserImageBrowseUrl = '@Url.Content("~/Content/ckfinder/ckfinder.html?type=Images")';
    }
</script>
