﻿@using C2.WebApp.Store.Models
@model OrderCreationModel

@helper CustomerInfo()
{
    <h4>Инофрмация о заказчике</h4>
    if (Model.Stage > OrderCreationStage.CollectUserInfo)
    {
        if (Model.UserIdentifyMethod == "U")
        {
            <div class="completd-stage-data">Офрмление заказа на пользователя @Model.UserMail.</div>
        }
        else
            if (Model.UserIdentifyMethod == "A")
            {
            <div class="completd-stage-data">Заказ без регистрации, адрес электронной почты для связи @Model.UserMail.</div>
            }
    }
    else
    {
        using (Html.BeginForm("CollectUserInfo", "Order", FormMethod.Post, new { id = "orderForm" }))
        {
            if (!User.Identity.IsAuthenticated)
            {
            <div>
                <input type="radio" id="regCustomerOption" name="customerType" value="U" @(Model.UserIdentifyMethod != "A" ? "checked" : "") />
                <label for="regCustomerOption">Я уже зарегистрирован</label>
                <div class="option-body">
                    <div class="col-title">Электронная почта</div>
                    <div class="col-control"><input id="userMail" type="text" name="userMail" value="@(Model.UserIdentifyMethod == "U" ? Model.UserMail : "")"/></div>
                    <div class="row-split"></div>
                    <div class="col-title">Пароль</div>
                    <div class="col-control"><input id="userPassword" type="password" name="userPassword"/>@Html.ActionLink("Забыли пароль?", "ForgotPassword", "Account")</div>
                    <div class="row-split"></div>
                </div>
            </div>
            <div>
                <input type="radio" id="anonCustomerOption" name="customerType" value="A" @(Model.UserIdentifyMethod == "A" ? "checked" : "")/>
                <label for="anonCustomerOption">Оформить без регистрации</label>
                <div class="option-body">
                    <div class="col-title">Электронная почта</div>
                    <div class="col-control"><input id="anonUserMail" type="text" name="anonUserMail" value="@(Model.UserIdentifyMethod == "A" ? Model.UserMail : "")"/></div>
                    <div class="row-split"></div>
                </div>
            </div>
            }
            else
            {
            <div>
                <label for="regCustomerOption">На пользователя @Model.UserMail</label>
                <input name="customerType" type="hidden" value="U" />
            </div>
            }
            <div>
                <button type="submit" class="next-stage">Продолжить</button>
            </div>
        }
    }
}

@helper DeliveryInfo()
{
    if (Model.Stage < OrderCreationStage.CollectDeliveryInfo)
    {
        return;
    }
    <h4>Адрес доставки</h4>
    if (Model.Stage > OrderCreationStage.CollectDeliveryInfo)
    {
        <div class="completd-stage-data">@Html.Raw(Model.DeliveryAddress.ToHtmlString())</div>
    }
    else
    {
        using (Html.BeginForm("CollectDeliveryInfo", "Order"))
        {
            <div id="deliveryAddress-container">
                <div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.City)</div>
                <div class="col-control">@Html.TextBoxFor(m => m.DeliveryAddress.City)</div>
                <div class="row-split"></div>
                <div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.Address)</div>
                <div class="col-control">@Html.TextBoxFor(m => m.DeliveryAddress.Address)</div>
                <div class="row-split"></div>
                <div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.Contacts)</div>
                <div class="col-control">@Html.TextBoxFor(m => m.DeliveryAddress.Contacts)</div>
                <div class="row-split"></div>
                <div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.ContactPerson)</div>
                <div class="col-control">@Html.TextBoxFor(m => m.DeliveryAddress.ContactPerson)</div>
                <div class="row-split"></div>
            </div>
            @Ajax.ActionLink("←Назад", "BackTo", new { ToStage = OrderCreationStage.CollectUserInfo }, new AjaxOptions() { UpdateTargetId = "order-form", HttpMethod = "POST"})
            <button type="submit" class="next-stage">Продолжить</button>
        }
        if (Model.DeliveryAddress == null) {
            <div>Заполните @Html.ActionLink("Информацию о заказчике", "Index", "Customer") и при оформлении следующей заявки информация о доставке будет введена автоматически!</div>
        }
        @Html.ValidationSummary()
    }
}

@*@helper PaymentInfo()
{
    if (Model.Stage != OrderCreationStage.CollectPaymentInfo)
    {
        return;
    }
}*@

@helper Confirmation()
{
    if (Model.Stage < OrderCreationStage.Confirmation)
    {
        return;
    }
    else
    {
        <h4>Сумма заказа</h4>
        <div class="completd-stage-data">@Model.TotalAmount.ToString("# ##0.00 р.")</div>   
        if (Model.Stage == OrderCreationStage.Confirmation)
        {
            using (Html.BeginForm("DoCreate", "Order"))
            {
                @Ajax.ActionLink("←Назад", "BackTo", new { ToStage = OrderCreationStage.CollectDeliveryInfo }, new AjaxOptions() { UpdateTargetId = "order-form", HttpMethod = "POST"})
                <button type="submit" class="next-stage">Подтвердить</button>
            }
        }
    }
}

@helper Complete()
{
    if (Model.Stage != OrderCreationStage.Complete)
    {
        return;
    }
    <h4>Заявка @Model.OrderId принята.</h4>
}

@helper Stage(OrderCreationStage stage, string title)
{
    if (Model.Stage > stage && Model.Stage < OrderCreationStage.Complete)
    {
        <span class="stage-title completed">@Ajax.ActionLink(@title, "BackTo", new { ToStage = stage }, new AjaxOptions() { UpdateTargetId = "order-form", HttpMethod = "POST"})</span>
    }
    else
    {
        if (Model.Stage == stage)
        {
            <span class="stage-title active">@title</span>
        }
        else
        {
            <span class="stage-title">@title</span>
        }
    }
}

    <div id="stages">
        @Stage(OrderCreationStage.CollectUserInfo, "Данные заказчика")
        @Stage(OrderCreationStage.CollectDeliveryInfo, "Доставка")
        @Stage(OrderCreationStage.Confirmation, "Подтверждение")
    </div>

    <div id="stage">
        @CustomerInfo()
        @DeliveryInfo()
        @*@PaymentInfo()*@
        @Confirmation()
        @Complete()
    </div>
