﻿@using C2.WebApp.Store.Models
@model OrderCreationModel

@helper CustomerInfo()
{
    if (Model.Stage > OrderCreationStage.CollectUserInfo)
    {
        if (Model.UserIdentifyMethod == "U")
        {
            <div>Офрмление заказа на пользователя @Model.UserMail.</div>
        }
        else
        if (Model.UserIdentifyMethod == "A")
        {
            <div>Анонимный заказ.</div>
        }
    }
    else
    {
        using (Html.BeginForm("CollectUserInfo", "Order"))
        {
            <div>
                <input type="radio" id="regCustomerOption" name="customerType" value="U" checked />
                @if (string.IsNullOrWhiteSpace(Model.UserMail))
                {
                    <label for="regCustomerOption">Регистрация</label>
                    <div class="body">
                        Логин
                        <input id="userName" name="userName"/>
                        Пароль
                        <input id="userPassword" type="password" name="userPassword"/>
                    </div>
                }
                else
                {
                    <label for="regCustomerOption">На пользователя @Model.UserMail</label>
                }
            </div>
            <div>
                <input type="radio" id="anonCustomerOption" name="customerType" value="A" />
                <label for="anonCustomerOption">Оформить без регистрации</label>
                <div class="info">Заказ не привязывается к пользователю.</div>
            </div>
            <div>
                <input type="radio" id="quickCall" name="customerType" value="Q" />
                <label for="quickCall">Быстрое оформление</label>
                <div class="info">Уточнение параметров заказа и его оформление в беседе с нашим менеджером. Мы сами Вам позвоним в любое удобное для Вас время!</div>
                <div class="body">
                    Телефон *
                    <input id="contactPhone" name="contactPhone"/>
                    Дата (оствьте пустым и мы позвоним в ближайшее время)
                    <input id="contactDate" name="contactDate"/>
                </div>
            </div>
            <button type="submit">Продолжить</button>
        }
    }
}

@helper DeliveryInfo()
{
    //if (Model.Stage < OrderCreationStage.CollectPaymentInfo)
    //{
    //    return;
    //}
    if (Model.Stage > OrderCreationStage.CollectDeliveryInfo)
    {
        @:Адрес доставки: @Model.DeliveryAddress
    }
    else
    {
        using (Html.BeginForm("CollectPaymentInfo"))
        {
            <h4>Адрес доставки</h4>
            <input type="text" placeholder="Введите адрес доставки" name="deliveryAddress" id="deliveryAddress" />
            <div id="deliveryMap" style="width: 300px; height: 300px;"></div>
            <button type="submit">Продолжить</button>
        }
        <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
        <script type="text/javascript">
            var deliveryMap;
            function mapInit() {
                deliveryMap = new ymaps.Map("deliveryMap");
            }
        </script>
    }
}

@helper PaymentInfo()
{
    if (Model.Stage != OrderCreationStage.CollectDeliveryInfo)
    {
        return;
    }
}

@helper Confirmation()
{
    if (Model.Stage != OrderCreationStage.Confirmation)
    {
        return;
    }
    @Html.ActionLink("Подтвердите создание заявки", "DoCreate")
}

@helper Complete()
{
    if (Model.Stage != OrderCreationStage.Complete)
    {
        return;
    }
}

@helper Stage(OrderCreationStage stage, string title)
{
    if (Model.Stage > stage)
    {
        <span class="completed">@Html.ActionLink(title, "Create", new { Stage = stage })</span>
    }
    else
    {
        if (Model.Stage == stage)
        {
            <span class="active">@title</span>
        }
        else
        {
            <span>@title</span>
        }
    }
}

<div id="order-form">
<div id="stages">
    @Stage(OrderCreationStage.CollectUserInfo, "Данные заказчика")
    @Stage(OrderCreationStage.CollectDeliveryInfo, "Доставка")
    @*@Stage(OrderCreationStage.CollectPaymentInfo, "Оплата")*@
    @Stage(OrderCreationStage.Confirmation, "Подтверждение")
</div>

<div id="stage">
    @CustomerInfo()
    @DeliveryInfo()
    @PaymentInfo()
    @Confirmation()
    @Complete()
</div>
</div>