﻿<h2>Запрашиваемая страница не найдена</h2>
<p>Возможно, она устарела, воспользуйтесь поиском или начните просмотр с <a href="@Url.Content("~/")">главной страницы</a></p>

<p>Так же, вы можете <a href="mailto:manager@optodrom.ru">написать нам</a> или позвонить:</p>
<ul>
<li>8 (800) 555-13-08 сюда звонок СОВСЕМ бесплатный</li>
<li>8 (495) 215-08-81 Москва</li>
<li>8 (383) 286-27-55 Новосибирск</li>
</ul>
<p>Мы обязательно поможем Вам найти, что вы ищите.</p>
