﻿
@using (Html.BeginForm())
{
    <label for="countToAdd">Сколько добавить</label>@Html.TextBox("countToAdd")
    <label for="countToAdd">С какой скидкой</label>@Html.TextBox("discount", "10")
    <label for="countToAdd">Срок действия в месяцах</label>@Html.TextBox("months", "6")
    <input type="submit" name="submit" value="Добавить" />
}