﻿@model C2.WebApp.Store.Models.ContentPageModel

<h2>@ViewBag.Supplier</h2>

<table>

@foreach (var page in Model.AllPagesContent)
{
    <tr>
        <td>@page.Id</td>
        <td>@page.HtmlId</td>
        <td>@page.Title</td>
        <td>@Html.ActionLink("[изм]", "CreateEdit", new { id = page.Id })</td>
    </tr>
}

</table>

@Html.ActionLink("Создать", "CreateEdit")