﻿.bbsw {
    margin:10px;
}

.clear-fix
{
    clear: both;
}

button
{
    background-color: #e8e8e8;
    border-style: none;
    cursor: pointer;
    color: #333;
}

button:hover
{
    background-color: #f8f8f8;
    color: #222;
    border-color: silver;
}

.add-to-basket, .next-stage, .do
{
    background-color: #ddd;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    font-family: "Segoe UI", Segoe, Arial, sans-serif;
}

.add-to-basket:hover, .next-stage:hover, .do:hover
{
    background-color: #A0D050;
    color: white!important;
}

.option-body
{
    margin-left: 2em;
}

.col-title
{
    width: 200px;
    float: left;
    padding: 6px 0px;
}

    .col-title label
    {
        font-size: 1em;
    }

.col-control
{
    float: left;
}

.col-control div
{
    width: 430px;
}

    .col-control input, .col-control textarea
    {
        width: 300px;
        border: 1px solid #e2e2e2;
        font-size: 1.2em;
        padding: 5px;
        margin: 5px 0px 6px 0px;
    }

        .col-control input:focus, .col-control textarea:focus
        {
            border-color: #7ac0da;
        }

        .col-control input.input-validation-error, .col-control textarea.input-validation-error
        {
            border-color: #e80c4d;
        }

    .col-control textarea
    {
        height: 100px;
    }

.row-split
{
    clear: both;
    height: 1em;
}

.tree-node > .body
{
    display:none;
}

.tree-node,.expanded > .body
{
    margin-left: 20px;
    display:block;
    font-size: 0.9em;
}

    .tree-node a {
        color: #0083F1;
        font-weight: bold;
    }

.tree-node,.expanded > .body a
{
    color: #2580c2;
    font-weight: normal;
}

.tree-node .selected a {
    color:#fff;
    background-color:#2580c2;
    border-radius: 2px;
    padding:4px 8px;
    display:inline-block;
}


#tools
{
    float: left;
    margin: 0;
    padding: 0;
    width: 240px;
}

#catalog h1
{
    font-size: 1.4em;
    font-weight: normal;
}

#catalog a
{
    text-decoration: none;
    display:inline-block;
    font-family: Arial;
}

#main
{
    float: left;
    margin: 0;
    padding: 0 0 20px 10px;
    max-width: 890px;
    width: 100%;
}

.product-collection
{
    margin-top: 10pt;
    width: 100%;
}

.product-collection-item
{
    position: relative;
    height: 215px;
}

    .product-collection-item .picture
    {
        position: absolute;
        top: 0px;
        width: 0px;
        min-height: 204px;
    }

        .product-collection-item .picture img
        {
            max-height: 200px;
            max-width: 133px;
        }

    .product-collection-item .title
    {
        position: absolute;
        top: 0px;
        left: 145px;
        right: 200px;
        font-size: 1.2em;
        min-height: 42px;
    }

    .product-collection-item .productId
    {
        position: absolute;
        top: 2.5em;
        left: 145px;
        right: 200px;
        font-size: 0.8em;
        color: #888;
    }

    .product-collection-item .description
    {
        position: absolute;
        top: 3em;
        left: 145px;
        right: 200px;
        max-height: 120px;
        overflow: hidden;
        height:445px;
        width: 450px;
    }

    .product-collection-item .price
    {
        position: absolute;
        top: 0px;
        right: 110px;
    }

    .product-collection-item .actions
    {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100px;
        text-align: right;
    }

.product-collection.grid-view .product-collection-item
{
    width: 200px;
    height: 330px;
    float: left;
    padding-bottom: 25px;
}

.product-collection.grid-view .product-collection-opt
{
    height: 370px;
}

.product-collection.grid-view .product-collection-item .picture
{
    position: static;
}
    
.product-collection.grid-view .product-collection-item .title
{
    position: static;
}

.product-collection.grid-view .product-collection-item .productId
{
    position: static;
    /*display: none;*/
}

.product-collection.grid-view .product-collection-item .description
{
    position: static;
    display: none;
}

.product-collection.grid-view .product-collection-item .price
{
    position: static;
}

.product-collection.grid-view .product-collection-item .actions
{
    position: static;
}

.product-collection #products-collection-continue
{
    float: left;
}

#products h1 {
    margin: 0;
}

/* Detail */
.product-detail
{

}

#description {
    margin-bottom:20px;
}


    .product-detail .images
    {
        float: left;
        width: 345px;
    }

        .product-detail .images img
        {
            max-height: 150px;
            max-width: 100px;
            padding: 5px;
            border: 2px none maroon;
        }

            .product-detail .images img.selected
            {
                border-style: solid;
            }

#full-image-container
{
    min-width: 300px;
    float: left;
    position: relative;
}

#full-image
{
    height: 450px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}

#canvas
{
    height: 450px;
    width: 420px;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 0px;
    left: 310px;
    display: none;
    z-index: 1000;
}

#magnifier
{
    border: 1px solid #999;
    cursor: move;
    background-color: white;
    opacity: 0.4;
    height: 10px;
    width: 10px;
    display: none;
    /*position: absolute;*/
}

#props li
{
    padding: 5px 0px;
    list-style-type: none;
    clear:both;
}

.prop-name
{
    color: #888;
    float: left;
    width: 70px;
}

.prop-value
{
    float: left;
    width: 260px;
}

    .prop-value a
    {
        cursor: pointer;
        text-decoration: none;
        white-space: nowrap;
    }

        .prop-value a:after
        {
            content: ",";
        }

        .prop-value a:last-child:after
        {
            content: ".";
        }

        .prop-value a.active
        {
            border: 1px solid green;
        }

.offer-prop-value {
max-width:90px;
display:block;
}

.offer li > span {
    display: inline-block;
    vertical-align: middle;
}

.offer-prop-value:after
{
    content: ","
}

.offer-prop-value:last-of-type:after
{
    content: "";
}

.price-value
{
    color: green;
}

/* Offer */
div.p
{
    padding-top: 1em;
}

    div.p div
    {
        padding-left: 2em;
    }

    div.p div:first-child
    {
        padding-bottom: 0.5em;
        padding-left: 0px;
    }

input[type="text"].text-input 
{
    width: 600px;
}

textarea.text-input 
{
    width: 600px;
    height:150px;
}

/* Basket */

div.basket-total {
    width:680px;
    text-align:right;
    font-size:1.5em;
}

.basket-column
{
    float: left;
    position:relative;

}

    .basket-column.img
    {
        width: 100px;
    }
 
   .basket-column.img img
    {
        width: 90px;
    }

    .basket-column.txt
    {
        width: 300px;
    }

    .basket-column.val
    {
        width: 90px;
        text-align:center;
    }

.number-value {
    border: solid 1px #2580c2;
    border-radius:5px;
    margin: 0 5px;
    display:inline-block;
}

        .basket-column.val input
        {
            width: 50px;
            font-size: 1.5em;
            border: 1px solid #d0d0d0;
        }

            .basket-column.val input:hover
            {
                border-color: #333;
            }

    .basket-column.sum
    {
        width: 100px;
        font-size: 1.5em;
    }

    .basket-column.prop
    {
        width: 80px;
        vertical-align: middle;
    }

    .basket-column.btn
    {
        width: 25px;
    }

.removed {
    text-decoration:line-through;
}

.sorting {
    border:solid 1px #e8e8e8;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

    .sorting a {
        text-decoration:none;
    }

    .sorting a.active {
        border:solid 1px #4CA6F9;
        border-radius:2px;
        cursor:default;
        background-color: #b9b9b9;
        color: #fff;
    }

/* Order */
.next-stage
{
    position: relative;
    left: 430px;
}

#stages
{
    padding: 5px 5px 0px 5px;
    border-bottom: 2px solid #2580c2;
}

.stage-title
{
    padding: 0.5em;
    display: inline-block;
    color: silver;
}

    .stage-title.active
    {
        color: white;
        background-color: #2580c2;
    }

    .stage-title.completed
    {
        color: black;
    }

#deliveryAddress
{
    width: 525px;
    height: 100px;
    margin-bottom: 2em;
}

.completd-stage-data
{
    padding-left: 2em;
}

/* Search */
.search { position:absolute; top:100px; left:0; width:430px; padding:0 0 0 10px; height:67px; /*background: url(./themes/blue/images/skews.png) 0 -154px repeat-x*/ }
.search b { display:block; width:1px; height:34px; background:url(./themes/base/images/skews.png) 0 0 no-repeat; position:absolute; top:13px; }
.search .l { left:39px; background-position:0 0 }
.search .r { left:100%; background-position:0 0 }
.search form { position:relative }
.search ul { margin:0; padding:0; list-style:none; position:absolute; top:11px; left:30px; z-index:2; width:90px }
.search ul li { margin:0 0 2px 0; padding:0; background:none; color:#fff }
.search ul li a { color:#fff }
.search ul li a:hover { color:#fff2b2 }
.search .input-wrapper { margin:0; padding:13px 0px 0 30px; position:relative }
.search .input-wrapper .input { display:block; height:30px; padding:4px 7px 0 23px; background:#fff url(./themes/base/images/skews.png) 0 -275px repeat-x; position:relative }
.search .input-wrapper .input b { width:18px; height:34px }
.search .input-wrapper .input .l { left:0; background-position:0 -231px }
.search .input-wrapper .input .r { width:3px; left:100%; margin:0 0 0 -3px; background-position:-28px -231px }
.search .input-wrapper .input input { margin:0; padding:2px 0; border:none; background:transparent; width:100%; font:normal 18px/22px Arial, Helvetica, sans-serif; color:#000 }
.search .input-wrapper .input .textInput-placeholder { color:#999; font-size:15px; line-height:18px; padding:4px 0 }
.search .input-wrapper .input-focused { background-position:0 -363px }
.search .input-wrapper .input-focused .l { background-position:0 -319px }
.search .input-wrapper .input-focused .r { background-position:-28px -319px }
.search .input-wrapper .hint { display:block; height:34px; position:absolute; top:53px; left:187px; padding:0 5px; white-space:nowrap; background:#fdf5c1 url(./themes/base/images/skews.png) 0 -501px repeat-x; color:#6d6e70; line-height:26px }
.search .input-wrapper .hint a { color: #6D6E70; }
.search .input-wrapper .hint a:hover { color:#000 }
.search .input-wrapper .hint .l { width:20px; height:40px; top:-6px; left:-20px; background-position:0 -407px }
.search .input-wrapper .hint .r { width:19px; height:34px; top:0; left:100%; background-position:0 -457px }
.search .submit { margin:0; position:absolute; top:13px; right:0px }


.wrapper { max-width:1280px; min-width:1050px; margin:0 auto; text-align:left; position:relative; background-color:rgba(255,255,255,0.95) }

header { height:207px; background:#fff; }

form { margin:0; padding:0 }

input:focus,
textarea:focus { outline:none }

.textInput { margin:0; padding:4px 5px; font:normal 12px/15px Arial, Helvetica, sans-serif; background:#fff; color:#000; border:#bebebe 1px solid; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; box-shadow:inset rgba(0,0,0,0.2) 0 1px 2px; -webkit-box-shadow:inset rgba(0,0,0,0.2) 0 1px 2px; -moz-box-shadow:inset rgba(0,0,0,0.2) 0 1px 2px }
.textInput-placeholder { color:#999 }
.textInput:focus { border-color:#6d6d6d; box-shadow:inset rgba(0,0,0,0.2) 0 1px 2px, rgba(255,255,255,1) 0 0 5px; -webkit-box-shadow:rgba(255,255,255,1) 0 0 5px; -moz-box-shadow:rgba(255,255,255,1) 0 0 5px }
.textInput-disabled { background:#e1e1e1 }

.left {
    float: left;
}

.button { display:inline-block; _display:inline; _zoom:1; margin:0; padding:7px 9px; background:#e1e5e5 url(./themes/blue/images/input.png) 0 0 repeat-x; border:#aaa 1px solid; border-bottom:#656565 1px solid; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; font:normal 15px/18px Arial, Helvetica, sans-serif; color:#000; text-decoration:none; text-shadow:#fff 0 1px 0; text-align:center; box-shadow:#b9b9b9 0 1px 0; -webkit-box-shadow:#b9b9b9 0 1px 0; -moz-box-shadow:#b9b9b9 0 1px 0; cursor:pointer; -webkit-appearance:none }
.button a { text-decoration: none; }

.button:hover { background-position:0 -41px; color:#000; text-decoration:none }
.button:active { background-position:0 -82px; padding-top:7px; padding-bottom:6px; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; text-shadow:rgba(255,255,255,0.5) 0 1px 0 }

a.button {  color:black; }
a.button:focus { outline:none }

.button-big { font-size:18px; line-height:20px; padding-top:5px; padding-bottom:6px }
.button-big:active { padding-top:5px; padding-top:6px; padding-bottom:5px }

.button-on-yellow { border:#6a6a6a 1px solid; box-shadow:#fff 0 1px 0; -webkit-box-shadow:#fff 0 1px 0; -moz-box-shadow:#fff 0 1px 0 }

.button-on-grey { border:#6a6a6a 1px solid; box-shadow:#939393 0 1px 0; -webkit-box-shadow:#939393 0 1px 0; -moz-box-shadow:#939393 0 1px 0 }

.button-search {
    padding: 7px 9px;
    background:rgba(0,0,0,0) url(./themes/base/images/i.png) 3px -330px no-repeat;
    text-indent:-9999px;
    width:34px;
    border: none;
}

.button-search:hover { background-position:-29px -330px; background-color:rgba(0,0,0,0) }
.button-search:active { background-position:3px -329px; background-color:rgba(0,0,0,0) }

.button-disabled { border:#d5d5d5 1px solid; border-bottom:#b3b3b3 1px solid; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; background-position:0 -246px; color:#999; cursor:default }
.button-disabled:hover { background-position:0 -246px; color:#999 }
.button-disabled:active { background-position:0 -246px; padding-top:6px; padding-bottom:7px }
.button-big.button-disabled:active { background-position:0 -246px; padding-top:5px; padding-bottom:6px }
.button-on-grey.button-disabled { border:#585858 1px solid; border-bottom:#585858 1px solid; background-position:0 -287px; text-shadow:none; }
.button-on-grey.button-disabled:hover { background-position:0 -287px }
.button-on-grey.button-disabled:active { background-position:0 -287px }


.cart { position:absolute; top:15px; right:80px; width:270px; height:55px; padding:8px 0 0 20px; background: url(./themes/base/images/skews.png) 0 -691px repeat-x }
.cart b { display:block; width:36px; height:63px; background:url(./themes/base/images/skews.png) 0 -545px no-repeat; position:absolute; top:0 }
.cart .l { left:-36px }
.cart .r { width:28px; left:100%; background-position:0 -618px }
.cart i { display:block; width:47px; height:60px; background:url(./themes/base/images/i.png) 0 -32px no-repeat; position:absolute; top:-9px; left:-35px }
.cart i.few { background-position:-57px -32px }
.cart i.many { background-position:-114px -32px }

#basket-text {
    margin: 0;
    padding: 0;
}

.plusone { font:normal 20px/20px Arial, Helvetica, sans-serif; color:black; position:absolute; top:0; left:0; z-index:50; background:#fff; padding:12px; box-shadow:#2580c2 0 0 10px; -webkit-box-shadow:#2580c2 0 0 10px; -moz-box-shadow:#2580c2 0 0 10px; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px }
.warn { font:normal 20px/20px Arial, Helvetica, sans-serif; color:black; position:absolute; top:0; left:0; z-index:50; background:#fff; padding:12px; box-shadow:rgb(194, 37, 62) 0 0 10px; -webkit-box-shadow:rgb(194, 37, 62) 0 0 10px; -moz-box-shadow:rgb(194, 37, 62) 0 0 10px; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px }

.product-collection .cat-list-view { width:115px; padding:0 0 15px 5px; position:relative }
.product-collection .cat-list-view a { float:left; display:inline; margin:0 2px; width:16px; height:16px; background:url(./themes/base/images/i.png) -234px -29px }
.product-collection .cat-list-view a:hover { opacity:0.7 }
.product-collection .cat-list-view .extended { background-position:-234px -29px }
.product-collection .cat-list-view .tiles { background-position:-303px -52px }

.product-collection.grid-view .extended { background-position:-234px -52px; cursor:default }
.product-collection.grid-view .extended:hover { opacity:1 }
.product-collection.grid-view .tiles { background-position:-303px -29px; cursor:default }
.product-collection.grid-view .tiles:hover { opacity:1 }

.clear {
    clear: both;
}

#footer { height:233px; margin:70px 0 0 0; background:#333 url(./themes/base/images/footer.png) 0 0 repeat-x; color:#fff }
#footer a { color:#fff; font: normal 12px/18px Arial, Helvetica, sans-serif; }
#footer a:hover { color:#fff2b2; background-color: transparent; }
#footer ul { margin:0; padding:0; list-style:none }
#footer ul li { margin:0 0 2px 0; padding:0; background:none }
#footer .item { float:left; width:22%; margin:0 4% 0 0 }
#footer .item .inner { padding:13px 0 0 0 }
#footer .yandex { margin:0 0 85px 0 }
#footer .yandex a { color:#b5b5b5 }
#footer .yandex a:hover { color:#fff2b2 }
#footer .yandex img { display:block; margin:3px 0 0 0 }
#footer .yandex span { display:block; margin:2px 0 0 0 }
#footer .yandex span b { float:left; width:13px; height:13px; overflow:hidden; text-indent:-100px; background:url(./themes/base/images/i.png) -74px -212px no-repeat }
#footer .yandex span i { float:left; width:13px; height:13px; overflow:hidden; text-indent:-100px; background:url(./themes/base/images/i.png) -97px -212px no-repeat }
#footer .shops { width:24%; background:#747474; background:rgba(255,255,255,0.1); margin:1px 0 0 -10px; position:relative; min-height:232px; _height:232px }
#footer .shops .inner { padding:12px 10px 0 10px }
#footer .shops h4 { position:absolute; top:-32px; left:0; width:100%; margin:0 }
#footer .shops h4 span { padding-left:10px }
#footer .shops .suggestions { position:absolute; top:-41px; left:75%; width:156px; height:32px; padding:3px 0 0 24px; background:url(./themes/base/images/i.png) -119px -273px no-repeat }
#footer .shops .suggestions .pseudo-link { color:#fff; border-bottom-color:#fff }
#footer .shops .suggestions .pseudo-link:hover { color:#fff2b2; border-bottom-color:#fff2b2 }
#footer .f-menu { width:48%; float:right; margin:0 }
#footer .f-menu ul { min-height:150px; _height:150px; margin:0 0 16px 0; float:left; width:45% }
#footer .f-menu .f-menu-r { float:right; width:54% }
#footer .f-menu .f-menu-r li { padding:0 21px }
#footer .paymentcards { float:left; width:45%; margin:0 5px 0 0 }
#footer .paymentcards span { display:block; width:136px; height:26px; overflow:hidden; text-indent:-200px; background:url(./themes/base/images/i.png) -102px -236px no-repeat }
#footer .copy { float:left; color:#818181; margin:4px 0 0 21px; }

.header { margin:0 -11px 16px -11px; padding:0; overflow:hidden; clear:both; zoom:1; border-bottom:#2580c2 3px solid; font:normal 14px/20px Arial, Helvetica, sans-serif }
.header span { float:left; height:28px; padding:0 7px 0 11px; font-size:14px; line-height:28px; color:#fff; background:#2580c2 url(./themes/base/images/skews.png) 0 -802px repeat-x; white-space:nowrap; overflow:hidden }
.header span a { color:#fff }
.header span a:hover { color:#fff2b2 }
.header b { float:left; width:17px; height:28px; overflow:hidden; background:url(./themes/base/images/skews.png) 0 -764px no-repeat }


a.no-bg:hover {
    background-color: transparent;
}

.price-label {
    height: 34px;
    margin: 0px 0 10px 0;
    padding: 0 0 0 8px;
    background: url(./themes/base/images/i.png) right -240px no-repeat;
    white-space: nowrap;
    color: #fff;
    text-shadow: rgba(0,0,0,0.2) 0 -1px 0;
    display:inline-block;
}

.price-label-opt {
    height: 70px;
    background: url(./themes/base/images/i.png) right -115px no-repeat;
}

.product-collection .price-label {
    position: absolute;
    top: 0px;
    right: 30px;
}

.product-collection.grid-view .price-label {
    position: static;
    
}

.price-label .price-normal { height:32px; margin:0 13px 13px 0; padding:0 28px 0 0; font-size:18px; line-height:32px; }
.price-label .price-normal strong { font-weight:normal }
.price-label .price-normal span { color:#fdf3bb; font-size:13px }


.brands {
    position: absolute;
    top: 185px;
    left:245px;
}

    .brands img {
        padding-right: 95px;

    }

    .brands a {
        text-decoration: none;
    }
    .brands a:hover {
        text-decoration: none;
    }

.remove {
    float: left;
    width: 24px;
    height: 24px;
    background: url(./themes/base/images/i.png) -244px -113px no-repeat;
}

.home_main {
    float:left;

}

.image_carousel {
    height: 400px;
    width:680px;
    /*float:left;*/
}
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
}


.pagination {
	text-align: center;
}

.pagination a {
	background: url(./themes/base/images/i.png) -268px -110px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}

.pagination a.selected {
	background-position: -283px -110px;
	cursor: default;
}

.pagination a span {
	display: none;
}


.offers-container {
    float:left;
    margin-left: 40px;
    width:400px;
}

.offers-container > span {
    font-size:1.5em;
    vertical-align:top;
    display: inline-block;
}

    .offers-container input[type='text'] {
        width:30px;
    }


a.minus {
	background: url('./themes/base/images/basket-minus.gif') center  no-repeat;
    text-decoration:none;
    display:inline-block;
    width:15px;
}

a.plus {
	background: url('./themes/base/images/basket-plus.gif') center no-repeat;
    text-decoration:none;
    display:inline-block;
    width:15px;
}

span.number {
    font-size: 1.5em;
}

div.hint {
    float:left;
    width: 240px;
    border: 1px dotted #b9b9b9;
    border-radius: 2px;
    display: inline-block;
    position:absolute;
    margin-left: 20px;
    padding: 5px 12px;
}

#fadeBlock {
    position:absolute;
    z-index:1000;
    opacity:0;
    background-color:black;
    text-align: center;
}

    #fadeBlock span {
        position: fixed;
        color: white;
        font-size: 4em;
    }

.table
{
    font-size: 1em;
}

.table-header
{
    font-size: 0.8em;
    background-color: #e8e8e8;
}

/* Table row */
.table div div
{
    margin: 5px 0;
}

    .table div div div.red {
        background-color: #d18b8b;
    }

    .table div div div.green {
        background-color: #a8d79f;
    }


.table div div.even
{
    background-color: #f8f8f8;
    display:inline-block;
}

/* Table cell */
.table div div div
{
    float: left;
    width: 120px;
}

.table div .summary {
    font-weight:bold;
}

.table div div div.customer-name
{
    width: 200px;
}

.table div div div.comment
{
    width: 210px;
}
.table div div div.comment textarea
{
    width: 200px;
    height: 50px;
}

.table div div div.command
{
    width: 50px;
}

.hits {
    width:170px;
    float: right;
}

.main_text {
    float:left;
    width:680px;
}

.catalog-links {
    text-align:center;  
    width:690px;
}

.icon {
    background: url(./images/icons.png) no-repeat;
    width: 119px;
    height: 125px;
    text-indent:-9999px;
    display:inline-block;
    margin-left:15px;
}

.platia {
    background-position-x:left;
    background-position:0px;
}

.ubka{
    background-position-x:-250px;
    background-position:-250px;
}
.bluzka{
    background-position-x:-125px;
    background-position:-125px;
}
.sarafan{
    background-position-x:-375px;
    background-position:-375px;
}

.product-detail .header {
    margin-top:40px;
}

    .product-detail .produc-navy div {
        width: 180px;
    }

    .product-detail .produc-navy h1 {
        text-align:center;
        margin: auto;
    }

    .product-detail .produc-navy div.prev {
        float:left;
    }

    .product-detail .produc-navy div.next {
        float:right;
    }

.salemark {
    position:absolute;
    background: url(./themes/base/images/i.png) -237px -169px no-repeat;
    top: -2px;
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: 10px;
    line-height: 36px;
    color: #fff;
}

.product-collection.grid-view .salemark {
    right: 60px;
}

.product-collection .salemark {
    right: -35px;
}

.salemark div {
    text-align:right;
    text-decoration:line-through;
}

.linedthrough {
    text-decoration:line-through;
}

#top-buttons ul li.red {
    color: #fff;
    background: #7ac0da url(./themes/base/images/skews.png) 0 -1002px repeat-x;
}


#image_block {
    height: 385px;
    overflow: hidden;
}

.image_carousel #image_block div
{
    display: block;
    float: left;                
}

h1.sale a {
    color: #F4960B;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 18px;
}

@media screen and (max-width: 1160px) {
    #main {
        float: left;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        width: 100%;
        max-width: 800px;
    }

    .home_main {
        float:none;
    }
    
    .hits {
        width:100%;
    }

    .main_text {
    }
}