﻿@model C2.DataModel.StoreModel.CustomerInfo
<div id="update-panel">
<div class="col-title">@Html.LabelFor(m => m.ContactName)</div>
<div class="col-control">@Html.EditorFor(m => m.ContactName)</div>
<div class="row-split"></div>

<div class="col-title">@Html.LabelFor(m => m.Email)</div>
<div class="col-control">@Html.EditorFor(m => m.Email)</div>
<div class="row-split"></div>

<div class="col-title">@Html.LabelFor(m => m.Phone)</div>
<div class="col-control">@Html.EditorFor(m => m.Phone)</div>
<div class="row-split"></div>

<div class="col-title">@Html.LabelFor(m => m.Requisites)</div>
<div class="col-control">
    @Html.EditorFor(m => m.Requisites)
    <div><em>Для физлиц и ИП укажите ИНН, для организаций - ИНН и КПП.</em></div>
</div>
<div class="row-split"></div>

<h3>Адрес доставки</h3>

<div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.PostCode)</div>
<div class="col-control">@Html.EditorFor(m => m.DeliveryAddress.PostCode)</div>
<div class="row-split"></div>

<div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.Country)</div>
<div class="col-control">@Html.EditorFor(m => m.DeliveryAddress.Country)</div>
<div class="row-split"></div>

<div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.Region)</div>
<div class="col-control">@Html.EditorFor(m => m.DeliveryAddress.Region)</div>
<div class="row-split"></div>

<div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.City)</div>
<div class="col-control">@Html.EditorFor(m => m.DeliveryAddress.City)</div>
<div class="row-split"></div>

<div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.Street)</div>
<div class="col-control">@Html.EditorFor(m => m.DeliveryAddress.Street)</div>
<div class="row-split"></div>

<div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.Building)</div>
<div class="col-control">@Html.EditorFor(m => m.DeliveryAddress.Building)</div>
<div class="row-split"></div>

<div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.Room)</div>
<div class="col-control">@Html.EditorFor(m => m.DeliveryAddress.Room)</div>
<div class="row-split"></div>

<div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.Special)</div>
<div class="col-control">@Html.EditorFor(m => m.DeliveryAddress.Special)</div>
<div class="row-split"></div>

<div class="col-title">@Html.LabelFor(m => m.DeliveryAddress.Notes)</div>
<div class="col-control">@Html.EditorFor(m => m.DeliveryAddress.Notes)</div>
<div class="row-split"></div>
</div>