﻿@using C2.WebApp.Models;
@model SpamViewModel

@{
    ViewBag.Title = "Рассылка";
}
<p>
    @Html.ActionLink("Create New", "CreateEdit")
</p>

<div class="table">
    <div class="table-header">
        <div>
            <div>Номер</div>
            <div>Период</div>
            <div class="customer-name">Тема</div>

            <div>
                Отправленно<br />
                за сутки
            </div>
            <div>
                Отправленно<br />
                за неделю
            </div>
            <div>
                Отправленно<br />
                всего
            </div>

            <div>
                Переходов<br />
                за сутки
            </div>
            <div>
                Переходов<br />
                за неделю
            </div>
            <div>
                Переходов<br />
                всего
            </div>
        </div>
        <div class="clear-fix"></div>
    </div>

    <div id="result" class="table-body">
        loading...
    </div>

</div>

@section Scripts {
    @if (false)
    {
        <script src="~/Scripts/jquery-1.8.1.js" type="text/javascript"></script>
    }

    <script type="text/javascript">
        function InvokeStatusChanging(target) {
            $.ajax(
                            {
                                type: "POST",
                                url: "@Url.Action("ChangeJobState", new { controller = "spam", area = "admin" })",
                                data: {
                                    templateName: target.attr('data-id'),
                                    start: target.attr('data-status') == 'enabled',
                                    time: target.attr('data-time'),
                                },

                                complete: function (data, status) {
                                    if (status == "success") {
                                        alert(data.responseText);
                                        getData();
                                    }
                                }
                            }
                );
            }
    
        function aClick(e) {
            e.stopPropagation();

            var target = $(e.target);
            if (target.attr('data-status') == 'enabled' && !target.attr('data-time')) {
                var schedule = target.next(".schedule");
                if (schedule) {
                    schedule.fadeIn(500);
                    return;
                }
            };

            InvokeStatusChanging(target);
        }

        function setListener() {
            $("a[data-tag='command']").each(
                function (i,a) {
                    $(a).click(aClick);
                }
                );
        }

        function getData() {
            $.ajax(
                {
                    url: "@Url.Action("Index", new { controller = "spam", area = "admin" })",
                    complete : function(data, status) {
                        if (status == "success") 
                            $("#result").html(data.responseText);

                        setListener();
                        
                        setTimeout(getData, 10000);
                    }
                });
            }

        $(document).ready(function () {
            getData();
            });
    </script>
}