﻿  <p>Удачных вам покупок!</p>
  <p>Наши контакты:</p>
  <ul>
    <li>Телефон: 8 (916) 015-61-61 (Москва)</li>
    <li>E-mail: <a href='mailto:manager@optodrom.ru'>manager@optodrom.ru</a></li>
    <li>Сайт в интернете: http://optodrom.ru</li>
  </ul>