﻿@model List<C2.WebApp.Models.UserProfile>

@helper CreateDate (C2.WebApp.Models.MembershipRecord membership) {
    if (membership != null) {
        @membership.CreateDate.ToShortDateString()
    }
}

@if (Model.Count > 0)
{
    <div>Найдено @Model.Count пользователей</div>
    <div class="table">
        <div class="table-header">
            <div>
                <div>Номер</div>
                <div>Дата регистрации</div>
                <div class="customer-name">Имя</div>
                <div>Телефон</div>
                <div>Email</div>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="table-body">
        @{
            var even = false;
        }
        @foreach (var user in Model)
        {
            <div class="@(even ? "even" : "odd")">
                <div>@user.UserId</div>
                <div>@CreateDate(user.MembershipRecord)</div>
                <div class="customer-name">@user.FirstName @user.MiddleName @user.LastName</div>
                <div>@user.Phone</div>
                <div><a href="mailto:@user.UserName" title="Написать письмо">@user.UserName</a></div>
            </div>
            <div class="clear-fix"></div>
            even = !even;
        }
        </div>
    </div>
}
else
{
    <div>Ничего не найдено</div>
}