﻿@model C2.WebApp.Models.LocalPasswordModel

<p>
    У вас нет пароля для нашего сайта. Установив его вы сможете заходить к нам
    без использования сторонних сервисов.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Данные для создания пароля</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Создать пароль" class="button" />
    </fieldset>
}
