﻿@using C2.Web.Mvc
@model C2.DataModel.Affiliate

@{
    ViewBag.Title = "Бонусная программа";
}

<h1>@ViewBag.Title</h1>

<p>Ваш партнерский код: @Model.Code</p>
<p>Ваша уникальная партнерская ссылка: <a href="@Url.AbsoluteUrl("Index", "Home", new { p=Model.Code })">@Url.AbsoluteUrl("Index", "Home", new { p=Model.Code })</a></p>

<h1>Бонусы</h1>
<p>Всего регистраций: @Model.RegistrationCount</p>
<p>Товаров в корзине (включая вашу): @Model.BasketCount</p>
<p>Потенциально бонусов на сумму: @string.Format("{0:N0}", Model.BasketSum * 0.05m) р.</p>
<p>Накопленных бонусов на сумму: @string.Format("{0:N2}", Model.PaidSum * 0.05m) р.</p>
<p>Израсходованно: @Model.Amount.ToString("N2") р.</p>
<p><b>Бонусов осталось:</b> @string.Format("{0:N}", Model.PaidSum * 0.05m - Model.Amount ) р.</p>

<h2>Как расходовать Бонусы?</h2>
<p>Вы всегда можете использовать полученные бонусы для совершения покупок в нашем интернет-магазине. Для этого в комментраии к заказу укажите, что оплата бонусами.</p>
<p>При желании получать вознаграждения наличными, вы можете связаться с менеджерами интернет-магазина и заключить партнерский договор.</p>
<p>Бонусы по программе &laquo;Подарки за покупки&raquo; могут быть использованы только вами.</p>
