﻿@{
    ViewBag.Title = "Восстановление пароля";
}

<h2>Восстановление утраченного пароля.</h2>

@if (ViewBag.Success)
{
    <div>Пароль успешно изменён.</div>
}
else
{
    @Html.ValidationSummary()
}