﻿@{
    ViewBag.Title = "Восстановление пароля";
}

<h2>Восстановление утраченного пароля</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Данные для восстановления пароля</legend>
        @Html.Hidden("token", (string)ViewBag.Token)
        <ol>
            <li class="name">
                <label for="password">Введите новый пароль</label>
                @Html.Password("newPassword")
            </li>
        </ol>
        <button type="submit" class="button">Продолжить</button>
    </fieldset>
}