﻿@using C2.DAL;
@using C2.DataModel.StoreModel;
@using C2.WebApp.Store.Models;
@model ProductPageModel
@{
    ViewBag.HtmlTitle = ViewBag.Title = Model.PageContent.HtmlTitle;
    Layout = "~/Views/Product/_ProductPageLayout.cshtml";
}

<div id="products">

    <div class="home_main">

        <div class="image_carousel">
	        <div id="image_block">
                <div><a href="/product/"><img src="@Url.Content("~/content/images/promo/1.jpg")" alt="" width="655" height="325" /></a></div>
                <div><a href="/product/selling"><img src="@Url.Content("~/content/images/promo/02.jpg")" alt="" width="655" height="325" /></a></div>
                <div><a href="/product/Kupalniki/34404"><img src="@Url.Content("~/content/images/promo/04.jpg")" alt="" width="655" height="325" /></a></div>
	        </div>
	        <div class="pagination" id="image_block_pag"></div>
        </div>
        
        <div class="catalog-links">
        </div>

    </div>

    <div class="hits">
        <h1>Новинки</h1>
        @if (Model.SelectResult.TotalCount > 0)
        {
            <div class="product-collection grid-view">
                @Html.Partial("~/Views/Product/ProductCollection.cshtml", Model.SelectResult)
            </div>
        }
    </div>

    @if (Model.Select1Result.TotalCount > 0) {
        <div class="product-collection grid-view">
            @Html.Partial("~/Views/Product/ProductCollection.cshtml", Model.Select1Result)
        </div>
    }

    <div class="main_text">
        @Html.Raw(Model.PageContent.Text)
    </div>
</div>

@section scripts {
<script src="@Url.Content("~/Scripts/jquery.carouFredSel-6.1.0-packed.js")"></script>
<script type="text/javascript">
    $("#image_block").carouFredSel({
        items: 1,
        circular: true,
        infinite: true,
        auto: true,
        pagination: "#image_block_pag",
        scroll: {
            duration: 700,
            delay: 3000,
            pauseOnHover:true
        }

    });
</script>
}