﻿@model C2.WebApp.Models.ITreeViewModel

@helper LabelClass(C2.AppModel.TreeNodeModel node) { 
    string labels = "Magnolica Магнолика TM T&M VAIDE VITO";
    if (labels.ToLower().Contains(node.Caption.ToLower()))
    {
        @: label
    }
}

@helper HeaderClass(C2.AppModel.TreeNodeModel node)
{
    
    
        
    bool isSelected = Model.IsSelected(node);
    bool isExpanded = Model.IsExpanded(node);

    if (!isSelected && !isExpanded && !node.IsLeaf)
    {
        return;
    }

    if (isSelected)
    {
        if (isSelected && isExpanded && node.IsLeaf)
        {
            @: selected expanded leaf
            return;
        } else if(isSelected && isExpanded) {
            @: selected expanded
            return;
        }
        else if (isSelected && node.IsLeaf)
        {
            //всегда expanded если selected 
            @: selected expanded leaf
            return;
        }
        else if (isExpanded && node.IsLeaf)
        {
            @: expanded leaf
            return;
        }
        //всегда expanded если selected 
        @: selected expanded
        return;
    }
    
    if (isExpanded)
    {
        @: expanded
        return;
    }
    if (node.IsLeaf)
    {
        @: leaf
        return;
    }
}

@foreach (var node in Model.Nodes)
{
    <div class="tree-node@(HeaderClass(node)) @(LabelClass(node))">
        <h1>@Html.Partial(Model.NodeViewName, node)</h1>
        @if (!node.IsLeaf)
        {
            <div class="body">
                @Html.Partial("TreeView", Model.Clone(node))
            </div>
        }
    </div>
}

