﻿@using C2.DataModel.StoreModel
@model Order
@{
    ViewBag.HtmlTitle = ViewBag.Title = "Заявка " + Model.Id + " от " + Model.CreateDate.ToShortDateString();
}

<p>@Html.ActionLink("← Назад", "Index", "Order")</p>

@Html.Partial("_Order", Model)

<p>@Html.ActionLink("← Назад", "Index", "Order")</p>

@switch (Model.OrderStatus)
{
    case OrderStatus.Creation:
        @Html.ActionLink("Создать", "Created", new { id = Model.Id }, new { @class = "do" })
        break;
    case OrderStatus.Created:
    case OrderStatus.Preorder | OrderStatus.Created:
        @Html.ActionLink("Принять", "Accept", new { id = Model.Id }, new { @class = "do" })
        @Html.ActionLink("Запрос счетов поставщикам", "InvoiceRequest", new { id = Model.Id }, new { @class = "do" })
        @Html.ActionLink("Запрос счетов локально", "InvoiceRequest", new { id = Model.Id, isInternal = true }, new { @class = "do" })
        @Html.ActionLink("Отправить комментарии", "SendWithComments", new { id = Model.Id }, new { @class = "do" })
        @Html.ActionLink("Установить кол-во по наличию", "SetQtyAsAvailable", new { id = Model.Id }, new { @class = "do" })

        @using (Html.BeginForm("AddOfferToOrder", "Order"))
        {
            @Html.Hidden("orderId", Model.Id)
            <div>Добавить в заказ offer id: @Html.TextBox("offerId")</div>
            <input type="submit" value="добавить" />
        }

        //@Html.ActionLink("На доработку пользователю", "Creation", new { id = Model.Id }, new { @class = "do" })
        break;
    case OrderStatus.Accepted:
        @Html.ActionLink("Отправить подтверждение", "Billing", new { id = Model.Id }, new { @class = "do" })
        @Html.ActionLink("Отправить комментарии", "SendWithComments", new { id = Model.Id }, new { @class = "do" })
        @Html.ActionLink("Отклонить", "Reject", new { id = Model.Id }, new { @class = "do" })
        @Html.ActionLink("Запрос счетов локально", "InvoiceRequest", new { id = Model.Id, isInternal = true }, new { @class = "do" })
        @Html.ActionLink("На доработку менеджеру", "Created", new { id = Model.Id }, new { @class = "do" })

        //@Html.ActionLink("На доработку пользователю", "Creation", new { id = Model.Id }, new { @class = "do" })
        break;
    case OrderStatus.PaymentWaiting:
    case OrderStatus.Created | OrderStatus.Accepted | OrderStatus.PaymentWaiting:
        @Html.ActionLink("Отправить подтверждение повторно", "Billing", new { id = Model.Id }, new { @class = "do" })
        @Html.ActionLink("Отправить счет", "Billing", new { id = Model.Id, isInvoice = true }, new { @class = "do" })
        @Html.ActionLink("Оплата получена", "PaymentReceived", new { id = Model.Id }, new { @class = "do" })
        @Html.ActionLink("Запрос счетов локально", "InvoiceRequest", new { id = Model.Id, isInternal = true }, new { @class = "do" })
        @Html.ActionLink("На доработку менеджеру", "Created", new { id = Model.Id }, new { @class = "do" })
        break;
    case OrderStatus.Payed:
        @Html.ActionLink("Завершён", "Complete", new { id = Model.Id }, new { @class = "do" })
        @Html.ActionLink("На доработку менеджеру", "Created", new { id = Model.Id }, new { @class = "do" })
        break;
    case OrderStatus.@Rejected:
        @Html.ActionLink("На доработку менеджеру", "Created", new { id = Model.Id }, new { @class = "do" })
        break;

}
@Html.ActionLink("Отклонить", "Reject", new { id = Model.Id }, new { @class = "do" })
