﻿@model C2.DataModel.Subscriber

<div class="subscription">
@using (Html.BeginForm("Landing", "Home")) {
    <div>
        @Html.TextBoxFor(m => m.Name, new { placeholder = "Имя" }) 
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" }) 
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    
    <input type="submit" value="Подписаться" />
    <p>* СПАМУ - нет! Получение этих материалов добровольное. Вы можете отписаться в любой момент</p>
}
</div>