﻿@model  C2.DataModel.PageContent
@{
    ViewBag.HtmlTitle = Model.HtmlTitle;
    ViewBag.Description = Model.HtmlDescription;
    ViewBag.Keywords = Model.HtmlKeywords;
    Layout = "~/Views/Product/_ProductPageLayout.cshtml";
}
<div id="products">
<h1>@Model.Title</h1>
@Html.Raw(Model.Text)
</div>