﻿@model C2.WebApp.Models.SupplierViewModel

@{
    ViewBag.Title = "Создать поставщика";
}
@Html.Partial("ckEditorInit", new { toolbarset = "Full"})

@Html.Partial("ckEditor", new { FCKEditor = "Supplier_Banner" })
@Html.Partial("ckEditor", new { FCKEditor = "Supplier_FirstFooterBlock" })
@Html.Partial("ckEditor", new { FCKEditor = "Supplier_LeftFooterBlock" })
@Html.Partial("ckEditor", new { FCKEditor = "Supplier_PhoneBlock" })
@Html.Partial("ckEditor", new { FCKEditor = "Supplier_SecondFooterBlock" })
@Html.Partial("ckEditor", new { FCKEditor = "Supplier_ThirdFooterBlock" })

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <div>
            <div>@Html.LabelFor(x => x.Supplier.Banner)</div>
            <div>@Html.TextArea("Supplier.Banner")</div>
        </div>
        <div>
            <div>@Html.LabelFor(x => x.Supplier.Domain)</div>
            <div>@Html.EditorFor(x => x.Supplier.Domain)</div>
        </div>
        <div>
            <div>@Html.LabelFor(x => x.Supplier.FirstFooterBlock)</div>
            <div>@Html.TextArea("Supplier.FirstFooterBlock")</div>
        </div>
        <div>
            <div>@Html.LabelFor(x => x.Supplier.LeftFooterBlock)</div>
            <div>@Html.TextArea("Supplier.LeftFooterBlock")</div>
        </div>
        <div>
            <div>@Html.LabelFor(x => x.Supplier.Logo)</div>
            <div>@Html.EditorFor(x => x.Supplier.Logo)</div>
        </div>
        <div>
            <div>@Html.LabelFor(x => x.Supplier.PartnerCode)</div>
            <div>@Html.EditorFor(x => x.Supplier.PartnerCode)</div>
        </div>
        <div>
            <div>@Html.LabelFor(x => x.Supplier.PhoneBlock)</div>
            <div>@Html.TextArea("Supplier.PhoneBlock")</div>
        </div>
        <div>
            <div>@Html.LabelFor(x => x.Supplier.SecondFooterBlock)</div>
            <div>@Html.TextArea("Supplier.SecondFooterBlock")</div>
        </div>
        <div>
            <div>@Html.LabelFor(x => x.Supplier.ThirdFooterBlock)</div>
            <div>@Html.TextArea("Supplier.ThirdFooterBlock")</div>
        </div>

                <p><input type="submit" value="Create" /></p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
