﻿@using C2.DataModel.StoreModel
@model OrderItem

@helper DrawQuantity(C2.DataModel.StoreModel.OrderItem item) 
{
    if (User.IsInRole("Admin") && (item.Order.OrderStatus == C2.DataModel.StoreModel.OrderStatus.Created))
    {
        @Html.TextBoxFor(m => m.Quantity, "{0:#}", new { @class="num" })
        @Html.TextBoxFor(m => m.DiscountTotal, "{0:#}", new { @class="num" })
    } else {
        @Html.HiddenFor(m => m.Quantity)
        @Html.DisplayFor(m => m.Quantity)
    }
}

<div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.OfferId)

    <div>@Model.Offer.Product.Vendor.CurrentLocalization.ShortName<br/><a href="@Url.Action("Item", new { controller="Product", area="",id=Model.Offer.ProductId })" target="_blank">@Model.Offer.Product.CurrentLocalization.Title</a> @Model.Offer.Product.VendorCode</div>
    <div>@Model.PriceValue.ToString("N2") р.</div>

    <div>@DrawQuantity(Model)</div>
    <div>@Model.Total.ToString("N2") р.</div>
    <div>
        @foreach (var prop in Model.Offer.Properties.OrderBy(p => p.PropertyTypeId))
        {
            <div>
                <span>@prop.PropertyType.CurrentLocalization.Title</span>
                <span>@prop.StringValue</span>
            </div>
        }
    </div>
        @if (User.IsInRole("Admin")) {
            <div>
                @Html.TextBoxFor(m => m.AdminQuantity, "{0:#}", new { @class="num" })
            </div>
            <div>
                @string.Format("{0:N2}", Model.AdminQuantity.Value * Model.PriceValue)
            </div>
            <div class="comment">
                @Html.TextAreaFor(m => m.AdminComment, new { @class="text" })
            </div>
        }
</div>
<div class="clear-fix"></div>
