﻿@using C2.DAL;
@using C2.DataModel.StoreModel;
@using C2.WebApp.Store.Models;
@using C2.WebApp.Store;
@model ProductPageModel

@{
    if (!Request.IsAjaxRequest()) {
        Layout = "~/Views/Product/_ProductPageLayout.cshtml";

        ViewBag.Keywords = ViewBag.Title;

        if (Model.PageContent != null)
        {
            ViewBag.Title = Model.PageContent.Title;
            ViewBag.HtmlTitle = Model.PageContent.HtmlTitle;
            ViewBag.Description = Model.PageContent.HtmlDescription;
            ViewBag.Keywords = Model.PageContent.HtmlKeywords;
        }

        ViewBag.Description = "Товары в категории " + ViewBag.Title + ". " + ViewBag.Description;
    }
}

@*@section Filter
{
    <div id="product-filters">
        <h2>Поиск</h2>
        @using (Ajax.BeginForm("Search", new AjaxOptions { UpdateTargetId = "products" }))
        {
            <input type="hidden" name="CategoryNodeId" value="@Model.CategoryNodeId" />
            <div>
                <label for="filter-vendorCode">Код</label>
                <input type="text" id="filter-vendorCode" name="VendorCode" />
            </div>
            <button type="submit">Найти</button>
        }
    </div>
}*@


@if (Model.SelectResult.TotalCount > 0)
{
    <h1>@ViewBag.Title</h1>
    
    if (Model.AddPageContent != null)
    {
        <div>@Html.Raw(Model.PageContent.Text)</div>
    }
    
    <div>@Html.Partial("_Sorter", Model.SelectParams)</div>
    
    <div>
    @Html.Partial("_Pager", Model.SelectResult)
    </div>

    <div class="product-collection grid-view" id="products">
        <p class="cat-list-view">
            <a onclick="switchToTable('#products')" title="Таблица" class="extended"></a>
            <a onclick="switchToGrid('#products')" title="Сетка" class="tiles"></a>
        </p>
        <div class="clear"></div>

        @Html.Partial("~/Views/Product/ProductCollection.cshtml", Model.SelectResult)
    </div>

    <div class="clear-fix">
    @Html.Partial("_Pager", Model.SelectResult)
    </div>

    if (Model.AddPageContent != null)
    {
        <div>@Html.Raw(Model.AddPageContent.Text)</div>
    }
    else if (Model.PageContent != null)
    {
        <div>@Html.Raw(Model.PageContent.Text)</div>
    }
}
else
{
    if (Model.AddPageContent != null)
    {
        <div>@Html.Raw(Model.AddPageContent.Text)</div>
    }
    else if (Model.PageContent != null)
    {
        <div>@Html.Raw(Model.PageContent.Text)</div>
    }
    else {
        <div class="result-is-empty">К сожалению, по вашему запросу ничего не нашли. Попробуйте найти что-нибудь другое.</div>
    }
}


@*section Scripts
{
<script type="text/javascript">
    var scrollReady = true;

    $(document).ready(function () {
        $(window).scroll(function (e) {
            if (!scrollReady) {
                return;
            }
            var endMarker = document.getElementById('products-collection-continue');
            if (endMarker != null) {
                if ($(endMarker).offset().top - $(document).scrollTop() < ($(window).height() + 600)) {
                    scrollReady = false;
                    GetProducts($(endMarker).attr('data-next-page'));
                }
            }
        });
    });

    function GetProducts(pageIndex) {
        console.log('pageIndex=' + pageIndex + '&categoryNodeId=@productModel.CategoryNodeId' + '&' + $('product-filter').serialize());

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Search")',
            data: 'pageIndex=' + pageIndex + '&categoryNodeId=@productModel.CategoryNodeId' + '&' + $('product-filter').serialize(),
            dataType: "html",
            success: function (result) {
                $(result).replaceAll('#products-collection-continue');
                scrollReady = true;
            }
        });
        $('div#lastPostsLoader').empty();
    }
</script>
}*@