﻿<div id="footer">

    <div class="foot-bd clr">
        <div class="foot-inf">
            @Html.Raw(C2.AppController.SupplierModel.Current.FirstFooterBlock)
        </div>
        <div class="foot-inf">
            @Html.Raw(C2.AppController.SupplierModel.Current.LeftFooterBlock)
        </div>
        <div class="foot-inf">
            <ul>@Html.Raw(C2.AppController.SupplierModel.Current.SecondFooterBlock)</ul>

            <ul class="f-menu-r">
                @Html.Raw(C2.AppController.SupplierModel.Current.ThirdFooterBlock)
            </ul>
        </div>
        <div class="foot-inf">
            <p class="paymentcards"><span>VISA, Maestro, MasterCard</span></p>
            <p class="copy">&copy; @DateTime.Now.Year - @Html.ActionLink(@C2.AppController.SupplierModel.Current.Subject.CurrentLocalization.ShortName, "Index", "Home")</p>
        </div>
    </div>

</div>
