﻿@model C2.WebApp.Models.TreeViewModel
@{
    ViewBag.Title = "Классификация";
}

@{
    ViewData["FCKEditor"] = "pgDescription";
    ViewData["toolbarset"] = "Full";
}
@Html.Partial("ckEditor", ViewData)


<div><input id="remove" type="button" value="Удалить"/></div>
<div id="saveResult" style="display:none"></div>

@Html.Hidden("catlinktree_selected", string.Join(",", Model.Nodes.Select(m => m.NodeId).ToArray()))
<div id="@Model.NodeViewName" class="productGroup_tree"></div>

<div id="catbuttons">
    @Html.Hidden("pgSelectedTreeNodePath", "")
    <div>Название: <input id="pgTitle" type="text" /></div>
    <div>Описание: @Html.TextArea("pgDescription")</div>
    <div>Код: <input id="pgCode" type="text" disabled /></div>
    <div><input id="addnew" type="button" value="Создать"/>
         <input id="update" type="button" value="Изменить"/>
    </div>
</div>

@section scripts {
@Scripts.Render("~/bundles/jqueryui")

<script type="text/javascript">
$(function () {

    $("#@Model.NodeViewName").jstree({
        "plugins": ["themes", "json_data", "ui", "dnd", "types"],
        "core": {
            "initially_open": []
        },
        "ui": {
            "initially_select": [] @*@string.Join(",", Model.Nodes.Select(m => m.NodeId).ToArray())*@
        },
        "themes": {
            "theme": "apple",
            "icons": true,
        },
        "json_data": {
            "ajax": {
                "type": "POST",
                "url": "@Url.Action("GetTree")",
                "data": function (n) {
                    return {
                        "root": n.attr ? n.attr("path") : ""
                    };
                } //data
            } //ajax
        }, //json_data
    }) // jstree
    .bind("create_node.jstree", function (e, data) {
        $.post(
                "@Url.Action("AddNode")",
                        {
                            "Title": $("#pgTitle").val(),
                            "Description": $("#pgDescription").val(),
                            "ParentPath": data.rslt.parent.attr("path"),
                            "Position": data.rslt.position,
                        },
                        function (r) {
                            if (r.status) {
                                $(data.rslt.obj).attr("id", r.id);
                                $(data.rslt.obj).attr("path", r.path);
                                $("a", data.rslt.obj).html(r.value);
                            }
                            else {
                                $("#saveResult").css("color", "red").html(r.error).fadeIn(300).delay(3000).fadeOut(500);
                                $.jstree.rollback(data.rlbk);
                            }
                        }
                );
    })// bind
    .bind("check_node.jstree", function (e, data) {
        var checked = data.inst.get_checked();
        $("#@ViewData.ModelMetadata.DisplayName").val(arr.join(','));
    })
    .bind("uncheck_node.jstree", function (e, data) {
        var arr = new Array();
        var checked = data.inst.get_checked();
        var len = checked.length;
        for (var i = 0; i < len; ++i) {
            arr.push(checked[i].id);
        }
        $("#@ViewData.ModelMetadata.PropertyName").val(arr.join(','));
    })
    .bind("delete_node.jstree", function (e, data) {
        $.post(
                "@Url.Action("DeleteNode")",
                        {
                            "Path": data.rslt.obj.attr("path"),
                        },
                        function (r) {
                            if (r.status) {
                            }
                            else {
                                $("#saveResult").css("color", "red").html(r.error).fadeIn(300).delay(10000).fadeOut(500);
                                $.jstree.rollback(data.rlbk);
                            }
                        }
                );
    })// bind
    .bind("move_node.jstree", function (e, data) {

        data.rslt.o.each(function (i) {
            $.ajax({
                async: false,
                type: 'POST',
                url: "@Url.Action("CopyNode")",
                data: {
                    "Id": $(this).attr("id"),
                    "ParentPath": data.rslt.cr === -1 ? "" : data.rslt.np.attr("path"),
                    "position": data.rslt.cp + i,
                },
                success: function (r) {
                    if (!r.status) {
                        $.jstree.rollback(data.rlbk);
                        $("#saveResult").css("color", "red").html(r.error).fadeIn(300).delay(3000).fadeOut(500);
                    }
                    else {
                        $(data.rslt.oc).attr("id", r.id);
                        if (data.rslt.cy && $(data.rslt.oc).children("UL").length) {
                            data.inst.refresh(data.inst._get_parent(data.rslt.oc));
                        }
                    }
                }
            });
        });
    }) //bind
    .bind("select_node.jstree", function (e, data) {
        $.post(
                "@Url.Action("GetData")",
                {
                    "path": data.rslt.obj.attr("path"),
                },
                fillData
        );  //post
    }) //bind
    .bind("before.jstree", function (e, data) {
        if (data.func === "check_node" && data.args[0].parentNode != null) {
            var node = data.args[0].parentNode.parentNode;
            var leaf = node.className.indexOf("jstree-leaf") >= 0;
            var inst = data.inst;
            //window.alert(data.rslt[0].id + " " + (data.rslt[0].className.indexOf("jstree-leaf") >= 0));
            if (!leaf) {
                inst.is_open(node) ? inst.close_node(node) : inst.open_node(node);
                e.stopImmediatePropagation();
                return false;
            }

            if (inst.get_checked().length >= 5) {
                e.stopImmediatePropagation();
                return false;
            } else {
                //$("#@ViewData.ModelMetadata.DisplayName").val(inst.get_checked().join(','));
            }
        } else if (data.func === "uncheck_node") {
            //$("#@ViewData.ModelMetadata.DisplayName").val(inst.get_checked().join(','));
        }
    });
    $.jstree._themes = "@Url.Content("~/scripts/jtree/themes/")";

    $("#addnew").click(function () {
        $("#@Model.NodeViewName").jstree("create_node", null, "last");
    });

    $("#update").click(function () {
        $.post("@Url.Action("UpdateNode")",
                {
                    "path": $("#pgSelectedTreeNodePath").attr('value'),
                    "title": $("#pgTitle").attr('value'),
                    "description": $("#pgDescription").val(),
                },
                dataUpdate
                );
    });

    $("#remove").click(function () {
        if (confirm("Уверены, что хотите удалить "
            + $("#id").attr("value")
            + ": <"
            + $("#Title").attr("value")
            + ">?")) {

            $("#@Model.NodeViewName").jstree("delete_node", null, "last");
        }
    });

});

    function dataUpdate(data) {
        if (!data.status) {
            $("#saveResult").css("color", "red").html(data.error).fadeIn(300).delay(3000).fadeOut(500);
        }
        else {
            $("#saveResult").css("color", "green").html("Сохранили").fadeIn(300).delay(3000).fadeOut(500);
        }
    }

    function fillData(data) {
        //var formData = JSON.parse(data);

        $("#pgSelectedTreeNodePath").attr("value", data.path);
        $("#pgTitle").attr("value", unescape(data.title));
        $("#pgDescription").val(data.description);
        $("#pgCode").attr("value", data.code);
    }

</script>

}