﻿@model C2.DataModel.PageContent
@{
    ViewData["FCKEditor"] = "Text";
    ViewData["toolbarset"] = "Full";
}
@Html.Partial("ckEditor", ViewData)

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Страница</legend>
        <p>@Html.DisplayFor(m => m.Id)</p>
        
        @Html.HiddenFor(m => m.Id)

    <table>
        <tr>
            <td>Название</td>
            <td>@Html.TextBoxFor(m => m.Title, new { @class="text-input" })</td>
        </tr>
        <tr>
            <td>HtmlId</td>
            <td>@Html.TextBoxFor(m =>m.HtmlId, new { @class="text-input" })</td>
        </tr>
        <tr>
            <td>HtmlTitle</td>
            <td>@Html.TextBoxFor(m =>m.HtmlTitle, new { @class="text-input" })</td>
        </tr>
        <tr>
            <td>HtmlKeywords</td>
            <td>@Html.TextBoxFor(m =>m.HtmlKeywords, new { @class="text-input" })</td>
        </tr>
        <tr>
            <td>HtmlDescription</td>
            <td>@Html.TextBoxFor(m =>m.HtmlDescription, new { @class="text-input" })</td>
        </tr>
        <tr>
            <td>Текст</td>
            <td>@Html.TextArea("Text")</td>
        </tr>
    </table>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться, не сохраняя", "Index")
</div>

@section Scripts {
}
