﻿<p>Удачных вам покупок!</p>
<p>Наши контакты:</p>
  <ul>
    <li>Телефоны: 8 (800) 555-13-08, 8 (495) 215-08-81, 8 (383) 286-27-55</li>
    <li>E-mail: <a href='mailto:manager@bbsw.ru'>manager@bbsw.ru</a></li>
    <li>Сайт в интернете: http://bbsw.ru</li>
  </ul>