﻿<div id="footer">

<div class="wrapper">
    <div class="article-wide">
        <div class="item dev">
            <div class="inner"></div>
        </div>
        <div class="item shops">
            <div class="inner">
            <h4 class="header"><span>Клиентам</span><b></b></h4>
            <ul>
                @Html.Raw(C2.AppController.SupplierModel.Current.FirstFooterBlock)
            </ul>			
            </div>
        </div>

        <div class="item f-menu">
            <div class="inner">
            <ul>@Html.Raw(C2.AppController.SupplierModel.Current.SecondFooterBlock)</ul>

            <ul class="f-menu-r">		
                @Html.Raw(C2.AppController.SupplierModel.Current.ThirdFooterBlock)
            </ul>

            <div class="spacer"></div>
            <p class="paymentcards"><span>VISA, Maestro, MasterCard</span></p>
            <p class="copy">&copy; @DateTime.Now.Year - @Html.ActionLink(@C2.AppController.SupplierModel.Current.Subject.CurrentLocalization.ShortName, "Index", "Home")</p>
            </div>
        </div>
    </div>
</div>
</div>
