﻿@model C2.DataModel.StoreModel.Order

@{
    decimal qty = 0;
    decimal admqty = 0;
    decimal admtotal = 0;
}

@helper DrawQuantity(C2.DataModel.StoreModel.OrderItem item) 
{
    if (User.IsInRole("Admin") && item.Order.OrderStatus == C2.DataModel.StoreModel.OrderStatus.Created)
    {
        using (Html.BeginForm("SetQuantity", "Order"))
        {
            <input type="hidden" value="@item.Id" name="id" />
            @Html.TextBox("quantity", item.Quantity.ToString("#"), new { @class="num" })
            <input type="submit" value="&sum;" title="Изменить количество в @item.Offer.Product.CurrentLocalization.Title" />
        }
    } else {
        @item.Quantity.ToString("N")
    }
}

<div class="col-title">@Html.LabelFor(m => m.CustomerId)</div>
<div class="col-control">@Model.CustomerId</div>
<div class="clear-fix"></div>

@if (Model.UserProfile != null) {
    <div class="col-title">@Html.LabelFor(m => m.UserProfile)</div>
    <div class="col-control">@Model.UserProfile.FirstName @Model.UserProfile.LastName, @Model.UserProfile.Phone</div>
    <div class="clear-fix"></div>
}

@if(Model.Delivery != null) {
<div class="col-title">@Html.LabelFor(m => m.Delivery)</div>
<div class="col-control">@Html.Raw(Model.Delivery.Replace("\n", "<br/>"))</div>
<div class="clear-fix"></div>
}

<div class="col-title">@Html.LabelFor(m => m.OrderStatus)</div>
<div class="col-control">@Html.Partial("_OrderStatus", @Model.OrderStatus)</div>
<div class="clear-fix"></div>

<div class="col-title">@Html.LabelFor(m => m.Total)</div>
<div class="col-control">@Model.Total.ToString("N2") р.</div>
<div class="clear-fix"></div>

<div class="col-title">@Html.LabelFor(m => m.TotalPayment)</div>
<div class="col-control">@Model.TotalPayment.ToString("N2") р.</div>
<div class="clear-fix"></div>

<div class="table">
    <div class="table-header">
        <div>
            <div>Продукт</div>
            <div>Цена</div>
            <div>Кол-во</div>
            <div>Сумма</div>
            <div>Характеристики</div>
            @if (User.IsInRole("Admin")) {
                <div>Наличие на складе</div>
                <div>Сумма по наличию</div>
                <div>Комментарий</div>
            }
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="table-body">
        @foreach (var item in Model.Items)
        {
            qty += item.Quantity;
            admqty += item.AdminQuantity.Value;
            admtotal += item.AdminQuantity.Value * item.Offer.Price;
            
            <div>
                <div>@item.Offer.Product.CurrentLocalization.Title</div>
                <div>@item.Offer.Price.ToString("N2") р.</div>

                <div>@DrawQuantity(item)</div>
                <div>@item.Total.ToString("N2") р.</div>
                <div>
                    @foreach (var prop in item.Offer.Properties.OrderBy(p => p.PropertyTypeId))
                    {
                        <div>
                            <span>@prop.PropertyType.CurrentLocalization.Title</span>
                            <span>@prop.StringValue</span>
                        </div>
                    }
                </div>
                    @if (User.IsInRole("Admin")) {
                        using (Html.BeginForm("SetComment", "Order"))
                        {
                            <input type="hidden" value="@item.Id" name="id" />
                            <div>
                                @Html.TextBox("quantity", item.AdminQuantity.Value.ToString("#"), new { @class="num" })
                            </div>
                            <div>
                                @string.Format("{0:N2}", item.AdminQuantity.Value * item.Offer.Price)
                            </div>
                            <div class="comment">
                                @Html.TextArea("comment", item.AdminComment, new { @class="text" })
                            </div>
                            <div class="command">
                                <input type="submit" value="&#8859;" title="Сохранить комментарий в @item.Offer.Product.CurrentLocalization.Title" />
                            </div>
                        }
                    }
            </div>
            <div class="clear-fix"></div>
        }
        @if (User.IsInRole("Admin")) {

            <div class="summary">
                <div></div>
                <div></div>
                <div>@qty.ToString("#")</div>
                <div></div>
                <div></div>
                <div>@admqty.ToString("#")</div>
                <div>@admtotal.ToString("N2")</div>
            </div>
            <div class="clear-fix"></div>
        }
    </div>
</div>