﻿@model C2.DAL.ISelectResult

<p>Всего @Model.TotalCount</p>

Страницы: 

@if (!Model.IsFirstPage)
{
    <a href="@Url.Action(Request.RequestContext.RouteData.Values["action"] as string, new { page = Model.PageIndex })">&larr; назад</a>
}


@for (int i = 1; i <= Model.PageCount; i++)
{
    if (i == Model.PageIndex + 1)
    {
        <span>@i</span>
    } else {
        @Html.ActionLink(i.ToString(), Request.RequestContext.RouteData.Values["action"] as string, new { page = i })
    }
}

@if (!Model.IsLastPage)
{
    <a href="@Url.Action(Request.RequestContext.RouteData.Values["action"] as string, new { page = Model.PageIndex + 2 })">дальше &rarr;</a>
}
