﻿@model C2.DataModel.StoreModel.Order
@{
    int quantity = (int)Model.Items.Sum(i => i.Quantity);
    }
<div class="cart">
	<b class="l"></b><b class="r"></b><i class="@string.Format("{0}", ((Model != null) && (quantity > 0)) ? (quantity == 1 ? "few" : "many") : "")"></i>
@if (Model == null || Model.Items.Count == 0)
    {
        @:Корзина пуста.
    }
    else
    {
	    <p id="basket-text">@Html.Raw(string.Format("В вашей <a href='{2}'>корзине</a> {0} товар{3} на сумму {1:C}", quantity, Model.Total, Url.Action("Index", "Basket"), quantity >= 5 ? "ов" : quantity > 1 ? "а" : ""))
            @Html.ActionLink("Оформить заказ", "Index", "Basket")
	    </p>
    }
</div>