﻿@model IEnumerable<C2.DataModel.StoreModel.Price>

@foreach (var item in Model) {
    <div class="price">
        <span class="value">
            @Html.DisplayFor(modelItem => item.Value)
        </span>
        <span class="currency">
            @Html.DisplayFor(modelItem => item.CurrencyCode)
        </span>
        <span class="unit">
            / @Html.DisplayFor(modelItem => item.Unit.CurrentLocalization.Title)
        </span>
    </div>
}
