﻿html {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-size: 0.85em;
    font-family: "Segoe UI", Segoe, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #313030 url(./images/bg/spring-2011-bg.jpg) top center no-repeat;
}

.wrapper {
    max-width: 1280px;
    min-width: 1050px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 10px 10px 10px 0px black;
}

.wrapper-h {
overflow: hidden;
min-width: 1000px;
min-height: 100%;
}

.spacer {
    height: 0px;
    overflow: hidden;
    clear: both;
    display: block;
    }

img {
    border: none;
}

a {
    color: #e80c4d;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
    
}

    a:link, a:visited,
    a:active, a:hover {
        color: #e80c4d;
    }

    a:hover {
        background-color: #c7d1d6;
        border-radius: 2px;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,Sans-Serif;
    font-weight: 400;
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}


    .main-content {
        background: url("../Images/accent.png") no-repeat;
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
#site-title {
    color: #F81414;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    width: 250px;
    height: 70px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 23px;
    left: 25px;
}

    #site-title small {
        color:#F81414;
        display:block;
        font-size: 0.65em;
    }

#site-title a, #site-title a:hover, #site-title a:active {
    background: none;
    color: #F81414;
    outline: none;
    text-decoration: none;
    font-family: verdana;
    font-weight: bold;
    text-shadow: 1px 1px 3px #666, -1px -1px 3px #FFF, 2px 2px #666, -1px -1px #FFF;
}

#header {
    height:250px;
}

.phone-title {
margin: 0;
padding: 0;
position: absolute;
top: 45px;
left: 25%;
width: 290px;
}

    .phone-title span {
        display: block;
    }

#top-buttons {
        display: inline-block;
        position:absolute;
        top:0px;
        left: 260px;
}

    #top-buttons ul {
        display: block;
    }

        #top-buttons ul li {
            list-style: none;
            display: inline;
            height: 28px;
            padding: 4px 14px;
            font-size: 14px;
            line-height: 28px;
            color: #fff;
            background: #7ac0da url(./themes/base/images/skews.png) 0 -802px repeat-x;
            white-space: nowrap;
            overflow: hidden;
        }

            #top-buttons ul li a {
                color: #fff;
                text-decoration:none;
            }
                #top-buttons ul li a:hover {
                    color: #fff2b2;
                    background-color:transparent;
                }
            #top-buttons ul li.fav a {
                color:#F81414;
                padding-left: 15px;
            }
            #top-buttons ul li.fav {
                background:url(./images/fav-orange.png) no-repeat;
                background-size:contain;
            }


/* login
----------------------------------------------------------*/

#login {
position: absolute;
top: 150px;
right: 0;
z-index: 2;
width: 30%;
}


    #login a {
        background-color: #d3dce0;
        margin: 0 10px 10px 0;
        text-decoration: none;
        white-space: nowrap;
        display:inline-block;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

#logoutForm
{
    display: inline;
}


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
}

    #socialLoginForm h2
    {
        font-size: 1.5em;
    }

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    fieldset label {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }

    fieldset label.checkbox {
        display: inline;
    }

    fieldset input[type="text"],
    fieldset input[type="password"] {
        border: 1px solid #e2e2e2;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }

        fieldset input[type="text"]:focus,
        fieldset input[type="password"]:focus {
            border: 1px solid #7ac0da;
        }

    fieldset input[type="submit"] {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
    }

/* ajax login/registration dialog */
.ui-dialog {
    font-family: inherit;
    font-size: 1.0em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0 none;
}

    .ui-dialog input {
        font-family: inherit;
        font-size: 1.25em;
    }

.ui-dialog-titlebar {
    color: inherit;
    font-weight: inherit;
    border: 0 none;
    background: none;
    float: right;    
}

.ui-dialog-titlebar-close {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-widget-header {   
    border: 0 none;
    background: none;  
}

.modal-popup {
    
}

    .modal-popup input[type="text"],
    .modal-popup input[type="password"] {
        width: 90%;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error,
textarea.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

ul#social li {
    display: inline;
    list-style: none;
}

    ul#social li a {
        color: #999;
        text-decoration: none;
    }

    a.facebook, a.twitter {
        display: block;
        float: left;
        height: 24px;
        padding-left: 17px;
        text-indent: -9999px;
        width: 16px;
    }

    a.facebook {
        background: url("../Images/facebook.png") no-repeat;
    }

    a.twitter {
        background: url("../Images/twitter.png") no-repeat;
    }

/* tables
----------------------------------------------------------*/


    th.asc a, th.desc a {
        /*margin-right: .75em;*/
    }
    
    th.asc a:after, th.desc a:after {
		display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
	}

	th.asc a:after {
		content: '▲';
	}

	th.desc a:after {
		content: '▼';
	}

tr.pager td {
    padding: 0 0.25em 0 0;
}

.productGroup_tree {
    width: 40%;
    float: left;
    border-right: 4px solid black;
}

#catbuttons {
    padding-left:10px;
    width: 55%;
    float: left;
}

.num {
    width:40px;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
}
