﻿@model List<C2.WebApp.Store.Areas.Admin.Models.CustomerViewModel>

@helper CreateDate (C2.DataModel.MembershipRecord membership) {
    if (membership != null) {
        @membership.CreateDate.ToShortDateString()
    }
}

@helper IsWholesaleCustomer(C2.DataModel.StoreModel.CustomerInfo customerInfo)
{
    if (customerInfo != null) {
        switch (customerInfo.Status)
        {
            case C2.DataModel.StoreModel.CustomerStatus.NeedToCheck:
                @:Проверить
                break;
            case C2.DataModel.StoreModel.CustomerStatus.Normal:
                @:Обычный
                break;
            case C2.DataModel.StoreModel.CustomerStatus.IsWholesale:
                @:Оптовый
                break;
            default:
                break;
        }
    } else {
        @:Обычный
    }
}

@helper CustomerName(C2.WebApp.Store.Areas.Admin.Models.CustomerViewModel user) {
    var fullName = string.Format("{0} {1} {2}", user.UserProfile.FirstName, user.UserProfile.MiddleName, user.UserProfile.LastName);
    if (user.CustomerInfo != null) {
        <a href="@Url.Action("Item", new { username = @user.UserProfile.UserName })">@fullName</a>
    } else {
        @fullName
    }
}

@if (Model.Count > 0)
{
    <div>Найдено @Model.Count пользователей</div>
    <div class="table">
        <div class="table-header">
            <div>
                <div>Номер</div>
                <div>Дата регистрации</div>
                <div class="customer-name">Имя</div>
                <div>Телефон</div>
                <div>Оптовый</div>
                <div>Email</div>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="table-body">
        @{
            var even = false;
        }
        @foreach (var user in Model)
        {
            <div class="@(even ? "even" : "odd")">
                <div>
                    @Html.ActionLink(user.UserProfile.UserId.ToString(), "Edit", new { id=user.UserProfile.UserId }) 
                </div>
                <div>@CreateDate(user.UserProfile.MembershipRecord)</div>
                <div class="customer-name">@CustomerName(user)</div>
                <div>@user.UserProfile.Phone</div>
                <div>@IsWholesaleCustomer(user.CustomerInfo)</div>
                <div><a href="mailto:@user.UserProfile.UserName" title="Написать письмо">@user.UserProfile.UserName</a></div>
            </div>
            <div class="clear-fix"></div>
            even = !even;
        }
        </div>
    </div>
}
else
{
    <div>Ничего не найдено</div>
}