@model C2.DataModel.Comment

@Html.ValidationSummary(true)

@using (Ajax.BeginForm("AddComment", 
    null, 
    new AjaxOptions { HttpMethod = "POST", 
        InsertionMode = InsertionMode.Replace, 
        LoadingElementId = "loading",
        UpdateTargetId = "comments"
        }, 
    new { id = "commentForm" }))
{
<fieldset>
    <legend>Оставить свой отзыв</legend>
    <h2>Оставить свой отзыв</h2>
    <p>Текст отзыва: @Html.ValidationMessageFor(m => m.Text)</p>
    
    <div>@Html.TextAreaFor(m => m.Text, new { @class = "text-input" })</div>
    
    <div>Имя для отображения: @Html.TextBoxFor(m => m.UserDisplayName, new { @class = "text" })
        @Html.ValidationMessageFor(m => m.UserDisplayName)
    </div>
    
    <input type="submit" value="Оставить свой отзыв *" class="button" id="submitButton"/>
    <span id="loading" style="display:none; color:green">отправляем отзыв...</span>
    
    <div>* Администрация оставляет за собой право удалить отзывы, нарушающие моральные и этические нормы поведения. Мы заботимся о своих клиентах и предлагаем участникам портала уважительно относится друг к другу. <br/> Большое спасибо</div>
</fieldset>
}
