﻿@model C2.DataModel.SubjectLocalization

<div class="editor-label">
    @Html.LabelFor(model => model.ShortName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ShortName)
    @Html.ValidationMessageFor(model => model.ShortName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.FullName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FullName)
    @Html.ValidationMessageFor(model => model.FullName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)
</div>
