﻿@using C2.DataModel.MediaModel;
@using C2.DataManager.Store
@using C2.WebApp.Store.Models
@using C2.WebApp.Store
@model ProductItemViewModel
@{
    ViewBag.HtmlTitle = Model.Product.Vendor.CurrentLocalization.ShortName + " " + Model.Product.CurrentLocalization.Title + " купить в интернет магазине";
    ViewBag.Keywords = Model.Product.Vendor.CurrentLocalization.ShortName + ", " + Model.Product.CurrentLocalization.Title + ", купить";
    ViewBag.Description = Model.Product.CurrentLocalization.Description;

    Layout = "~/Views/Product/_ProductPageLayout.cshtml";
}


@helper DrawMetadata(List<C2.DataModel.MediaModel.PictureMetaData> meta)
{
    if (meta != null)
    {
        var data = meta.Where(md => md.PictureType == "full").FirstOrDefault();
        <text>data-width="@data.Width"</text> <text>data-height="@data.Height"</text>
    }
    else
    {
        <text>data-width="600" data-height="900"</text>
    }
}

@helper DrawPreview(C2.DataModel.StoreModel.Product product)
{
    if (product != null)
    {
    <div class="picture">
        <a class="no-bg" href="@Url.Action("Item", "Product", new { id = product.Id })"  title="@product.CurrentLocalization.Title @product.Vendor.CurrentLocalization.ShortName">
            <img itemprop="image" src="@product.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink).First().AsPreview()" alt="@product.CurrentLocalization.Title" />
            <div>@product.CurrentLocalization.Title</div>
        </a>
    </div>
    }
}

@helper DrawOffer()
{
    ProductPageModel productModel = ViewData.GetPageModel();
    var minOffer = Model.Product.Offers.GetMinOffer();
    bool isAdmin = User.IsInRole("Admin");
    bool isWholesale = productModel.CustomerInfo != null && productModel.CustomerInfo.Status == C2.DataModel.StoreModel.CustomerStatus.IsWholesale;
    if (isWholesale)
    {
        <div class="price-label price-label-opt">
            <p class="price-normal">опт. <em id="priceOpt">@minOffer.PriceOpt40.GetValueOrDefault(minOffer.Price).ToString("# ###")</em> <span>р.</span></p>
            <p>розн. <span class="linedthrough"><em id="priceNorm">@minOffer.Price.ToString("# ###")</em> р.</span></p>
        </div>
        if (isAdmin)
        {
            decimal price = minOffer.PriceOpt20.HasValue ? minOffer.Price * (1 - minOffer.PriceOpt20.Value / 100) : minOffer.Price;
            <div style="float:right; color:black">
                <p>Admin mode</p>
                Скидка: <em id="discount">@minOffer.PriceOpt20.GetValueOrDefault().ToString("N0")</em> % (@price.ToString("N") р.)
            @using (Html.BeginForm("SetOrder", "Product", "POST"))
            {
                <input name="id" type="hidden" value="@Model.Product.Id" />
                @:Вес <input name="order" type="text" value="@Model.Product.Order" onchange="$(this).closest('form').submit()" class="num" />
            }
            </div>
        }
    }
    else
    {
        <span><a href="/home/get/wholesale" title="предложение оптовым клиентам">Розничная цена</a></span>
        if (minOffer.PriceOpt20.HasValue)
        {
        <div class="price-label price-label-opt">
            @{decimal price = minOffer.Price * (1 - minOffer.PriceOpt20.Value / 100);}
            <p class="price-normal">@price.ToString("# ###") <span>р.</span></p>
            <p class="linedthrough">@minOffer.Price.ToString("# ###") <span>р.</span></p>
        </div>
        }
        else
        {
        <div class="price-label">
            <p class="price-normal">@minOffer.Price.ToString("# ###") <span>р.</span></p>
        </div>
        }
    }


    if (Model.Product.Properties.Count > 0)
    {
        <ul id="props">
            @foreach (var g in Model.Product.PropertyGroups)
            {
                <li class="prop" data-id="@g.PropertyType.Id">
                    <div class="prop-name">@g.PropertyType.CurrentLocalization.Title</div>
                    <div class="prop-value">
                        @{
                            foreach (var v in g.Values.OrderBy(x => x.StringValue))
                            {
                                if (g.Values.Count > 1)
                                {
                                        <a data-id="@v.Id">@v.StringValue</a>
                                }
                                else
                                {
                                        @v.StringValue
                                }
                            }
                        }
                    </div>
                </li>
            }
        </ul>
    }
    <div class="clear-fix"></div>

    if (isAdmin || Model.Product.Offers.Count(o => o.Status == C2.DataModel.EntityStatus.Normal) > 0)
    {
        var availOffers = Model.Product.Offers.Count(o => o.AvailQuantity > 0);

        if (true || availOffers > 0 || isAdmin || isWholesale)
        {
            var isPreorder = productModel.Basket.OrderStatus.HasFlag(C2.DataModel.StoreModel.OrderStatus.Preorder) ? 1 : 0;
            if (isPreorder > 0) 
            {
                <h3>Оформляется предзаказ</h3>
            } else
            {
                <h3 id="offerHeader">Выберите товар и его количество</h3>
            }
            
            foreach (var offer in Model.Product.Offers)
            {
                var offer_min_cnt = ((isWholesale || availOffers == 1) ? offer.AvailQuantity == 0 ? 0: 1 : 0);
                var price = isWholesale ? offer.PriceOpt40.GetValueOrDefault(offer.Price) : offer.PriceOpt20.HasValue ? offer.Price * (1 - offer.PriceOpt20.Value / 100) : offer.Price;

                //if ((offer.AvailQuantity > 0 || isWholesale) && (offer.Status != C2.DataModel.EntityStatus.Removed || isAdmin))
                if (offer.Status != C2.DataModel.EntityStatus.Removed || isAdmin)
                {
                    var removedClass = offer.Status != C2.DataModel.EntityStatus.Removed ? "" : "removed";
                <ul class="offer visible">
                    <li>
                        <span>
                            @foreach (var p in offer.Properties)
                            {
                                <span class="offer-prop-value @removedClass" data-pid="@p.PropertyType.Id" data-vid="@p.Id">@p.PropertyType.CurrentLocalization.Title @p.StringValue</span>
                            }
                        </span>&#0151; <span class="price-value">@price.ToString("# ###") р.</span>

                        <div class="number-value">
                            <a class="minus" href="javascript:void(0);" data-bound="0">&nbsp;</a>
                            <span class="number" data-id="@offer.Id">@offer_min_cnt</span>
                            <a class="plus" href="javascript:void(0);" data-bound="@offer.AvailQuantity" data-preorder="@isPreorder">&nbsp;</a>
                        </div>
                        @if (isWholesale)
                        {
                            <text>из <span class="AvailQuantity" data-id="@offer.Id">@offer.AvailQuantity.ToString("N0")</span></text>
                        }
                        @offer.Unit.CurrentLocalization.Title
                        @if (isAdmin) {
                            <div class="basket-column btn remove handle-remove" data-offerid="@offer.Id"></div>
                        }
                    </li>
                </ul>
                }
            }
        <button class="button handler-buy" data-offerid="" data-preorder="@isPreorder" data-UpdateTargetId="basket-info" data-posturl='@Url.Action("add", "basket")'>
            В корзину
        </button>

        <div class="hint">В корзину отправится выбранное количество по каждой позиции</div>
        }
        else
        {
            <h3>Данный товар временно отсутствует на складе</h3>
            <p>....</p>
        }
    }
    else
    {
            <h3>Данный товар больше не производится, представлен для ознакомления</h3>
    }
}

<div class="product-detail">
    <h1>@Model.Product.Vendor.CurrentLocalization.ShortName <span id="productTitle">@Model.Product.CurrentLocalization.Title </span>арт. @Model.Product.VendorCode</h1>
    
    <div id="description">@Html.Raw(Model.Product.CurrentLocalization.Description) </div>
    
    @if (@Model.Product.MediaCollection.Count > 0)
    {
        <div class="images">
            <div id="full-image-container">
                <div id="full-image" style="background-image: url('@Model.Product.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink).First().AsFull()')" @DrawMetadata(Model.Product.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink).First().MediaItem.GetPictureMetaData())><div id="magnifier"></div></div>
                <div id="canvas" style="background-image: url('@Model.Product.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink).First().AsFull()')"></div>
            </div>
            @if (@Model.Product.MediaCollection.Count > 1)
            {
                var isFirstMedia = true;
                <div class="clear-fix"></div>
                foreach (var m in @Model.Product.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink))
                {
                    <img src="@m.AsPreview()" data-src="@m.AsFull()" class="@(isFirstMedia ? "selected" : "")" @DrawMetadata(@m.MediaItem.GetPictureMetaData()) />
                    isFirstMedia = false;
                }
            }
        </div>
    }
    
    <div class="offers-container">
        @DrawOffer()

@*  @if (Request.IsAuthenticated)
        {
        }
        else
        {
            <div class="hint">Для того, чтобы узнать цену товара и оформить заказ, вам необходимо @Html.ActionLink("Авторизоваться", "Login", new { controller = "Account", returnUrl = Request.RawUrl }) на сайте</div>
        }*@
    </div>

    <div class="clear-fix"></div>
    
    <div class="header"></div>
    <div class="produc-navy"></div>

</div>

@* !!! TURN RazorGenerator ON !!! *@
@section Scripts
{
@if (User.IsInRole("Admin"))
{
<script type="text/javascript">
    $(function () {
        $("#productTitle").click(toTextbox);
        $("#description").click(toTextarea);
        $("#priceNorm").click(toPricebox);
        $("#priceOpt").click(toPriceOptbox);
        $("#discount").click(toDiscountbox);
        $(".AvailQuantity").click(toAvailBox);
        $(".handle-remove").click(removeOffer);
    });

    function removeOffer(e) {
        var target = $(this);
        if (confirm('Вы уверены, что хотите продолжить?')) {
            $.post('@Url.Content("~/admin/product/removeOffer")', {
                id: target.attr('data-offerid')
            },
            function(d) {
                var prop = target.parent().find(".offer-prop-value");
                if (prop.hasClass('removed')) {
                    prop.removeClass('removed')
                } else {
                    prop.addClass('removed');
                }
            }); 
        }
    }

    function prepareForm(target, selector, text, control, e) {
        target.html(control);

        var f = function (e) {
            e.stopPropagation();
            var text = $(selector).val();
            var data = $(selector).attr("data-add");
            target.html(text);

            $.post('@Url.Content("~/admin/product/update")' + selector.substr(1, selector.length), {
                id: @Model.Product.Id,
                text: text,
                data: data
            });
        };

        $(selector).click(f);
        $(selector).blur(f);

        $(selector).focus().select();
    }

    function toAvailBox(e) {
        var target = $(this);
        var text = target.html();

        prepareForm(target, "#_availQuantity", text, "<input class='num' name='availQuantity' id='_availQuantity' data-add='" + target.attr('data-id') + "' value='" + text + "'/>", e);
    }


    function toTextarea(e) {
        var target = $(this);
        var text = target.html();

        prepareForm(target, "#_description", text, "<textarea cols='60' rows='5' name='description' id='_description'>" + text + "</textarea>", e);
    }

    function toTextarea(e) {
        var target = $(this);
        var text = target.html();

        prepareForm(target, "#_description", text, "<textarea cols='60' rows='5' name='description' id='_description'>" + text + "</textarea>", e);
    }

    function toTextbox(e) {
        var target = $(this);
        var text = target.html();

        prepareForm(target, "#_title", text, "<input type='text' id='_title' value='" + text + "'/>", e);
    }

    function toDiscountbox(e) {
        var target = $(this);
        var text = target.html();

        prepareForm(target, "#_discount", text, "<input type='text' id='_discount' value='" + text + "'/>", e);
    }

    function toPricebox(e) {
        var target = $(this);
        var text = target.html();

        prepareForm(target, "#_price", text, "<input type='text' id='_price' value='" + text + "'/>", e);
    }

    function toPriceOptbox(e) {
        var target = $(this);
        var text = target.html();

        prepareForm(target, "#_priceOpt", text, "<input type='text' id='_priceOpt' value='" + text + "'/>", e);
    }

</script>
}

<script type="text/javascript">
    $(function () {
        $('#props').click(propValueSelected);

        $('.product-detail .images img').click(function () {
            $('.product-detail .images img.selected').removeClass('selected');
            $(this).addClass('selected');
            $('#full-image').css('background-image', 'url("' + $(this).attr('data-src') + '")').attr('data-width', $(this).attr('data-width')).attr('data-height', $(this).attr('data-height'));
            $('#canvas').css('background-image', 'url("' + $(this).attr('data-src') + '")').attr('data-width', $(this).attr('data-width')).attr('data-height', $(this).attr('data-height'));
        });

        $('#full-image')
            .mousemove(magnifier)
            .mouseenter(magnifierBegin)
            .mouseleave(magnifierEnd);
    });

    function propValueSelected(e) {
        if (e.target.tagName != 'A') {
            return;
        }
        e.stopPropagation();
        var selected = $(e.target);
        if (selected.hasClass('active')) {
            selected.removeClass('active');
        } else {
            selected.siblings('.active').removeClass('active');
            selected.addClass('active');
        }
        
        var filter = {};
        $('#props a.active').each(function () {
            var propTypeId = $(this.parentNode.parentNode).attr('data-id');
            var propValueId = $(this).attr('data-id');
            filter[propTypeId] = propValueId;
        });

        $(".offer").each(function () {
            var match = true;
            for (var pid in filter) {
                var val = filter[pid];
                if ($(this).find('.offer-prop-value[data-pid=' + pid + '][data-vid=' + val + ']').length == 0) {
                    match = false;
                    break;
                }
            }
            if (match) {
                $(this).addClass("visible");
                $(this).show();
            } else {
                $(this).hide();
                $(this).removeClass("visible");
            }
        });
    }

    function magnifier(e) {
        var el = $('#full-image');
        var mg = $('#magnifier');

        var imgSz = { h: el.attr('data-height'), w: el.attr('data-width') };
        var elSz = { h: el.width() * (imgSz.h / imgSz.w), w: el.width() };

        if ((imgSz.h < elSz.h) && (imgSz.w < elSz.w)) {
            return;
        }

        // magnifier size
        var mgSz = {
            h: Math.floor(elSz.h * elSz.h / imgSz.h),
            w: Math.floor(elSz.w * elSz.w / imgSz.w)
        };

        mg.height(mgSz.h);
        mg.width(mgSz.w);

        // magnifier position
        var elOffset = el.offset();
        var mgPos = { left: e.pageX - elOffset.left - Math.floor(mgSz.w / 2), top: e.pageY - elOffset.top - Math.floor(mgSz.h / 2) };
        if (mgPos.left < 0) {
            mgPos.left = 0;
        } else {
            if (mgPos.left + mgSz.w > elSz.w) {
                mgPos.left = elSz.w - mgSz.w;
            }
        }

        if (mgPos.top < 0) {
            mgPos.top = 0;
        } else {
            if (mgPos.top + mgSz.h > elSz.h) {
                mgPos.top = elSz.h - mgSz.h;
            }
        }

        mg.offset({ left: mgPos.left + elOffset.left, top: mgPos.top + elOffset.top });

        var cs = $('#canvas');
        var x = -Math.floor(mgPos.left * elSz.w / mgSz.w);
        var y = -Math.floor(mgPos.top * elSz.h / mgSz.h);
        cs.css('background-position', x + 'px ' + y + 'px');
    }

    function magnifierBegin(e) {
        $('#magnifier').show();
        $('#canvas').show();
    }

    function magnifierEnd(e) {
        $('#magnifier').hide();
        $('#canvas').hide();
    }
</script>
    }