﻿@model C2.DataModel.Comment

@{
    ViewBag.HtmlTitle = ViewBag.Title = "Отзыв от " + Model.UserDisplayName;
}

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

<p>
    @Html.ActionLink("Читать все отзывы", "Comment")
</p>
