﻿@using C2.DataModel.StoreModel
@model Order
@{
    ViewBag.Title = "Заявка " + Model.Id +" от " + Model.CreateDate.ToShortDateString();
}

<p>@Html.ActionLink("← Назад", "Index", "Order")</p>

@Html.Partial("_Order", Model)

<p>@Html.ActionLink("← Назад", "Index", "Order")</p>

@switch (Model.OrderStatus)
{
    case OrderStatus.Creation:
        @Html.ActionLink("Создать", "Created", new { id = Model.Id }, new { @class = "do" })
        break;
    case OrderStatus.Created:
        @Html.ActionLink("Принять", "Accept", new { id = Model.Id }, new { @class = "do" })
        @Html.ActionLink("Отклонить", "Reject", new { id = Model.Id })
        break;
    case OrderStatus.@ReadyToBilling:
        @Html.ActionLink("Счёт отправлен", "Billing", new { id = Model.Id })
        break;
    case OrderStatus.@ReadyToPayment:
        @Html.ActionLink("Оплата получена", "PaymentReceived", new { id = Model.Id })
        break;
    case OrderStatus.@ReadyToComplete:
        @Html.ActionLink("Завершён", "Complete", new { id = Model.Id })
        break;
}