﻿@using C2.DataManager.Store
@using C2.WebApp.Store.Models
@using C2.WebApp.Store
@model C2.DAL.SelectResult<C2.DataModel.StoreModel.Product>

@helper DrawOffer(C2.DataModel.StoreModel.Offer offer)
{
    ProductPageModel productModel = ViewData.GetPageModel();
    if (productModel == null)
    {
        <script type="text/javascript">
            window.location.href = window.location.href;
        </script>
    }

    bool isWholesale = productModel.CustomerInfo != null && productModel.CustomerInfo.Status == C2.DataModel.StoreModel.CustomerStatus.IsWholesale;
    if (isWholesale)
    {
        <div class="price-label price-label-opt">
            <p class="price-normal">опт. @offer.PriceOpt40.GetValueOrDefault(offer.Price).ToString("# ###") <span>р.</span></p>
            <p>розн. <span class="linedthrough">@offer.Price.ToString("# ###") р.</span></p>
        </div>
    }
    else if (offer != null)
    {
        if (offer.PriceOpt20.HasValue)
        {
        <div class="price-label price-label-opt">
            @{decimal price = offer.Price * (1 - offer.PriceOpt20.Value / 100);}
            <p class="price-normal">@price.ToString("# ###") <span>р.</span></p>
            <p class="linedthrough">@offer.Price.ToString("# ###") <span>р.</span></p>
        </div>
        }
        else
        {
        <div class="price-label">
            <p class="price-normal">@offer.Price.ToString("# ###") <span>р.</span></p>
        </div>
        }
    }
}
@{
    ProductPageModel productModel = ViewData.GetPageModel();
    if (productModel == null)
    {
        <script type="text/javascript">
            window.location.href = window.location.href;
        </script>
    }
    bool isWholesale = productModel.CustomerInfo != null && productModel.CustomerInfo.Status == C2.DataModel.StoreModel.CustomerStatus.IsWholesale;
}
@if (Model.Items != null && Model.Items.Count > 0)
{
    foreach (var item in Model.Items)
    {
        var minoff = item.Offers.GetMinOffer();
        <div itemscope itemtype="http://schema.org/Product" class="product-collection-item product-collection-opt">
            <div class="picture">
                    <a class="no-bg" href="@Url.Action("Item", "Product", new { id = item.Id })"  title="@item.CurrentLocalization.Title @item.Vendor.CurrentLocalization.ShortName @item.VendorCode">
                    @if (!isWholesale && minoff.PriceOpt20.HasValue)
                    {
                        <span class="salemark">-@minoff.PriceOpt20.Value.ToString("#")%</span>
                    }
                    <img itemprop="image" src="@item.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink).First().AsPreview()" alt="@item.CurrentLocalization.Title @item.Vendor.CurrentLocalization.ShortName @item.VendorCode" /></a>
            </div>
            <div class="productId" itemprop="productID">@Html.DisplayFor(modelItem => item.Vendor.CurrentLocalization.ShortName) @Html.DisplayFor(modelItem => item.VendorCode)</div>
            <div class="title" itemprop="name">@Html.ActionLink(item.CurrentLocalization.Title + " " + item.Vendor.CurrentLocalization.Name, "Item", new { controller = "Product", id = item.Id }, new { title = item.CurrentLocalization.Title + " " + item.Vendor.CurrentLocalization.Name + " " + item.VendorCode })</div>
            <div class="description" itemprop="description">
                <div>@Html.DisplayFor(modelItem => item.CurrentLocalization.Description)</div>
            </div>
            <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">@DrawOffer(item.Offers.GetMinOffer())</div>

            <div class="actions">
                <a class="button no-bg" href="@Url.Action("Item", "Product", new { id = item.Id })"  title="@item.CurrentLocalization.Title @item.Vendor.CurrentLocalization.ShortName @item.VendorCode">Купить...</a>
            </div>
              @*  @Ajax.ActionLink("Купить", "Add", "Basket", new { id = item.Offers.GetMinOffer().Id }, new AjaxOptions() { HttpMethod = "post", UpdateTargetId = "basket-info" }, new { @class = "handler-buy" }) *@
            @if (User.IsInRole("Admin"))
            {
            <div>
                @using (Ajax.BeginForm("SetOrder", new { controller = "Product" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main" }))
                {
                    <input name="id" type="hidden" value="@item.Id" />
                    <input name="categoryNodeId" type="hidden" value="@productModel.CategoryNodeId" />
                    <input name="pageIndex" type="hidden" value="@Model.PageIndex" />
                    @:Вес <input name="order" type="text" value="@item.Order" onchange="$(this).closest('form').submit()" class="num" />
                }
            </div>                
            }

        </div>
    }

    if (false && !Model.IsLastPage)
    {
    <div data-next-page="@(Model.PageIndex + 1)" id="products-collection-continue"><img src="@Url.Content("~/content/themes/base/images/ajax-loader.gif")" /></div>
    }
}
else
{
<div>Ничего не найдено</div>
}
