﻿html {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-size: 0.85em;
    font-family: "Segoe UI", Segoe, Arial, sans-serif;
    margin: 0;
    padding: 10px;
}

.wrapper-h {
overflow: hidden;
width: 1000px;
min-height: 100%;
margin:auto;
border: 1px solid black;
padding: 20px;
}

.left {
    width:700px;
    float:left;
}

.right {
    width:300px;
    display:inline-block;
}

.spacer {
    height: 0px;
    overflow: hidden;
    clear: both;
    display: block;
    }

img {
    border: none;
}

.arrow {
    background-image: url(./images/arrowdown.gif);
    width: 271px;
    height: 105px;
}

a {
    color: #2580C2;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
    
}

    a:link, a:visited,
    a:active, a:hover {
        color: #2580C2;
    }

    a:hover {
        background-color: #c7d1d6;
        border-radius: 2px;
    }

header, footer, hgroup,
nav, section {
    display: block;
}


.subscription {
    background-image: url(./images/email.png);
    background-repeat: no-repeat;
    width:100%;
    padding-top: 2px;
}

    .ad h2 {
        line-height:20px;
        font-weight:normal;
    }

    .subscription input[type='text'] {
        display: block;
        margin-left: 90px;
        padding:0 6px;
        margin-top: 12px;
        color:#808080;
        background-image: url(./images/fld_back.png);
        background-repeat: no-repeat;
        height: 24px;
        width: 128px;
        border:none;
        font-size:16px;
    }

    .subscription input[type='submit'] {
        margin-left: 90px;
        margin-top: 12px;
        font-size:16px;
        padding:0px 17px;
    }

.jqmWindow {
    display: none;

    position: absolute;
    top: 17%;
    left: 50%;

    margin-left: -240px;
    width: 400px;

    padding: 40px;

    background-color:#FFF;
}
.jqmOverlay { background-color: #000; }

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    padding-left: 90px;
    display:inline-block;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error,
textarea.input-validation-error {
    /*border: 1px solid #e80c4d;*/
    color: #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}