﻿@using C2.DAL;
@using C2.DataModel.StoreModel;
@using C2.WebApp.Store.Models;
@using C2.WebApp.Store;
@model SelectResult<Product>

<div>
    @Html.ActionLink("Новый продукт", "Create")
</div>

<div class="product-collection" id="products">
    @Html.Partial("~/Views/Product/ProductCollection.cshtml", Model)
</div>

<noscript>
    @{
        var productModel = ViewData.GetPageModel();
        var selectedGroup = productModel.SelectedProductGroup;
        var seoName = selectedGroup != null ? selectedGroup.CurrentLocalization.Title : "all";
    }
    @if (!Model.IsFirstPage)
    {
        @Html.ActionLink("Prev", "Index", new { categorySeoName = seoName, selectedNodeId = productModel.CategoryNodeId, pageIndex = Model.PageIndex - 1, pageSize = Model.PageSize });
    }
    @if (!Model.IsLastPage)
    {
        @Html.ActionLink("Next", "Index", new { categorySeoName = seoName, selectedNodeId = productModel.CategoryNodeId, pageIndex = Model.PageIndex + 1, pageSize = Model.PageSize });
    }
</noscript>

@section Scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        $(window).scroll(function () {
            var endMarker = document.getElementById('products-collection-continue');
            if (endMarker != null) {
                if ($(endMarker).offset().top - $(document).scrollTop() < $(window).height()) {
                    GetProducts($(endMarker).attr('data-next-page'));
                }
            }
        });
    });

    function GetProducts(pageIndex) {
        alert('pageIndex=' + pageIndex + '&' + $('product-filter').serialize());
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Search")',
            data: 'pageIndex=' + pageIndex + '&' + $('product-filter').serialize(),
            dataType: "html",
            success: function (result) {
                $(result).replaceAll('#products-collection-continue');
            }
        });
        $('div#lastPostsLoader').empty();
    }
</script>
}
