﻿@model C2.DataModel.UserProfile
@{
    ViewBag.Title = "Профиль пользователя";
}

<h3>Профиль пользователя</h3>

@using (Html.BeginForm("Profile"))
{
    <fieldset>
        <legend>Данные для изменения пароля</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.EditorFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.MiddleName)
                @Html.EditorFor(m => m.MiddleName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.EditorFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Phone)
                @Html.EditorFor(m => m.Phone)
            </li>
        </ol>
        <input type="submit" value="Изменить" />
    </fieldset>
}

@Html.ActionLink("Изменить пароль и способы входа", "Manage")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
