﻿@model C2.WebApp.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Данные для регистрации</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                <span>Указанный Вами адрес электронной почты будет использован в качестве логина на сайт</span>
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                <span>Придумайте пароль для входа на сайт</span>
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                <span>Повторите пароль</span>
            </li>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.EditorFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.MiddleName)
                @Html.EditorFor(m => m.MiddleName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.EditorFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Phone)
                @Html.EditorFor(m => m.Phone)
            </li>
        </ol>
       <p>Регистрируясь, Вы даете согласие на получение информационных писем от нашего магазина</p>
        <input type="submit" value="Регистрация" class="button" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
