﻿@using C2.DataManager.Store
@using C2.WebApp.Store.Models
@model C2.DAL.SelectResult<C2.DataModel.StoreModel.Product>

@helper DrawOffer(C2.DataModel.StoreModel.Offer offer)
{
    if (offer != null)
    {
        <div class="price-label">
            <p class="price-normal">@offer.Price.ToString("# ###") <span>р.</span></p>
        </div>
    }
}

@if (Model.Items.Count > 0) {
    foreach (var item in Model.Items)
    {
        <div itemscope itemtype="http://schema.org/Product" class="product-collection-item">
            <div class="picture"><a class="no-bg" href="@Url.Action("Item", "Product", new { id = item.Id })"  title="@item.CurrentLocalization.Title"><img itemprop="image" src="@item.MediaCollection.OrderByDescending(c => c.MediaItem.PermaLink).First().AsPreview()" alt="@item.CurrentLocalization.Title" /></a></div>
            <div class="title" itemprop="name">@Html.ActionLink(item.CurrentLocalization.Title, "Item", new { controller="Product", id = item.Id }, new { title=item.CurrentLocalization.Title })</div>
            <div class="productId" itemprop="productID">@Html.DisplayFor(modelItem => item.Vendor.CurrentLocalization.ShortName) @Html.DisplayFor(modelItem => item.VendorCode)</div>
            <div class="description" itemprop="description">
                <div>@Html.DisplayFor(modelItem => item.CurrentLocalization.Description)</div>
            </div>
            @if (User.Identity.IsAuthenticated) {
                <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">@DrawOffer(item.Offers.GetMinOffer())</div>
            }

            <div class="actions">
                <a class="button no-bg" href="@Url.Action("Item", "Product", new { id = item.Id })"  title="Купить @item.CurrentLocalization.Title">Купить...</a>
            </div>
              @*  @Ajax.ActionLink("Купить", "Add", "Basket", new { id = item.Offers.GetMinOffer().Id }, new AjaxOptions() { HttpMethod = "post", UpdateTargetId = "basket-info" }, new { @class = "handler-buy" }) *@
        </div>
    }

    if (false && !Model.IsLastPage)
    {
    <div data-next-page="@(Model.PageIndex + 1)" id="products-collection-continue"><img src="@Url.Content("~/content/themes/base/images/ajax-loader.gif")" /></div>
    }
} else {
<div>Ничего не найдено</div>
}
