﻿@using C2.WebApp.Store.Models
@model OrderCreationModel
@{
    ViewBag.Title = "Оформление заказа";
}

<h1>Оформление заказа</h1>

<div id="order-form">
    @Html.Partial("~/Views/Order/_OrderForm.cshtml", Model)
    @Html.ValidationSummary(true)
</div>

@section Scripts {
    @if (Model.Stage == OrderCreationStage.CollectUserInfo)
    {
    <script type="text/javascript">
        $(function () {
            $("#orderForm").validate();
            $("#userMail").rules("add", {
                required: "#regCustomerOption:checked",
                email: true
            });
            $("#userPassword").rules("add", {
                required: "#regCustomerOption:checked"
            });
            $("#anonUserMail").rules("add", {
                required: "#anonCustomerOption:checked",
                email: true
            });
        });
    </script>
    }
    @if (Model.Stage == OrderCreationStage.CollectDeliveryInfo)
    {
    <script type="text/javascript">
        $(function () {
            $("#orderForm").validate();
            $("#deliveryAddress").rules("add", {
                required: true
            });
        });
    </script>
    }
 @*   @if (Model.Stage == OrderCreationStage.CollectDeliveryInfo)
    {
        <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
        <script type="text/javascript">
            var deliveryMap;
            function mapInit() {
                deliveryMap = new ymaps.Map("deliveryMap", { center: [ymaps.geolocation.latitude, ymaps.geolocation.longitude], zoom: 9, type: "yandex#publicMap" });
            }

            ymaps.ready(mapInit);

            function findLocation() {
                var g1 = ymaps.geocode(this.value);
                g1.then(function (res) {
                    deliveryMap.setCenter(res.geoObjects.get(0).geometry.getCoordinates(), 15, { duration: 500 });
                    deliveryMap.geoObjects.add(res.geoObjects);
                },
                function (err) {
                    alert("Извините, но указанный адрес не найден.");
                });
            }

            $(function () {
                $("#deliveryAddress").change(findLocation);
            });
        </script>
    }*@
}