﻿@model C2.WebApp.Store.Models.OrderViewModel
@{
    ViewBag.HtmlTitle = ViewBag.Title = "Заказы";
}

@using (Ajax.BeginForm("Search", new AjaxOptions() { UpdateTargetId = "orders", HttpMethod = "Post" }))
{
    <div class="col-title">@Html.LabelFor(m => m.Parameters.CustomerId)</div>
    <div class="col-control">@Html.EditorFor(m => m.Parameters.CustomerId)</div>
    <div class="clear-fix"></div>
    <div class="col-title">@Html.LabelFor(m => m.Parameters.OrderNumber)</div>
    <div class="col-control">@Html.EditorFor(m => m.Parameters.OrderNumber)</div>
    <div class="clear-fix"></div>
    <div class="col-title">@Html.LabelFor(m => m.Parameters.Status)</div>
    <div class="col-control">@Html.EditorFor(m => m.Parameters.Status)</div>
    <div class="clear-fix"></div>
    <input type="submit" class="button" value="Найти" id="searchButton" />
}

<div id="orders">
    @Html.Partial("_OrderList", Model.Orders)
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval")

    <script type="text/javascript">
        $("#Parameters_Status").on('change', function () {
            $("#searchButton").click();
        })
    </script>
}