﻿@model List<C2.DataModel.StoreModel.Order>

@if (Model.Count > 0)
{
    <div>Найдено @Model.Count заказов</div>
    <div class="table">
        <div class="table-header">
            <div>
                <div>Номер</div>
                <div>Дата</div>
                <div class="customer-name">Заказчик</div>
                <div>Сумма</div>
                <div>Оплачено</div>
                <div>Состояние</div>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="table-body">
        @{
            var even = false;
        }
        @foreach (var order in Model)
        {
            <div class="@(even ? "even" : "odd")">
                <div>@Html.ActionLink(order.Id.ToString(), "Item", new { id = order.Id })</div>
                <div>@order.CreateDate.ToShortDateString()</div>
                <div class="customer-name">@order.CustomerId</div>
                <div>@order.Total.ToString("N2")</div>
                <div>@order.TotalPayment.ToString("N2")</div>
                <div>@Html.Partial("_OrderStatus", order.OrderStatus)</div>
            </div>
            <div class="clear-fix"></div>
            even = !even;
        }
        </div>
    </div>
}
else
{
    <div>Ничего не найдено</div>
}