﻿@model C2.DataModel.StoreModel.Order

В корзине:

<table>
@foreach (var item in Model.Items)
{
    <tr>
        <td>@item.Offer.Product.CurrentLocalization.Title</td>
        <td>@item.Quantity</td>
        <td>@item.Offer.Unit.CurrentLocalization.Title</td>
        <td>@item.Total</td>
        <td></td>
    </tr>
}
</table>

<div class="total">
Итого: @Model.Total
</div>

@if (!Model.IsEmpty())
{
    <div class="create">Оформить заказ</div>
}
