﻿@model C2.WebApp.Models.SpamViewModel

@{
    var even = false;
}

@foreach (var item in Model.Content)
{
    var firstSent = Model.FirstSending(item.HtmlId);
    var firstSentText = firstSent.HasValue ? firstSent.Value.ToShortDateString() : "-";
    var lastSent = Model.LastSending(item.HtmlId);
    var lastSentText = lastSent.HasValue ? lastSent.Value.ToShortDateString() : "";
    bool canStart = true;
    var jobData = Model.GetJobData(item.HtmlId);


        if (jobData != null)
        {
            if (jobData.Status.HasFlag(C2.DataModel.EntityStatus.Enabled))
            {
                canStart = !canStart;
            }
        }

                
    <div class="@(even ? "even" : "odd")">
        <div>@Html.ActionLink(@item.Id.ToString(), "CreateEdit", new { id = item.Id, controller = "content" })</div>
        <div>@firstSentText - @lastSentText</div>
        <div class="customer-name">@item.Title</div>

        <div>@Model.SentLastDay(item.HtmlId)</div>
        <div>@Model.SentLastWeek(item.HtmlId)</div>
        <div>@Model.SentTotal(item.HtmlId)</div>

        <div>@Model.FiredLastDay(item.HtmlId)</div>
        <div>@Model.FiredLastWeek(item.HtmlId)</div>
        <div>@Model.FiredTotal(item.HtmlId)</div>

        <div class="command @(canStart ? "green" : "red")">
        @if (canStart)
        {
            <a data-tag="command" data-id="@item.HtmlId" data-status="enabled">старт</a>
            <div class="schedule">
                <a data-tag="command" data-id="@item.HtmlId" data-status="enabled" data-time="now">сейчас</a>
                <a data-tag="command" data-id="@item.HtmlId" data-status="enabled" data-time="tomorrowMorning">завтра</a>
            </div>
        } else {
                <a data-tag="command" data-id="@item.HtmlId" data-status="disabled">стоп</a>
        }
        </div>

    </div>
    <div class="clear-fix"></div>
    @{
    even = !even;
    }
}
